openapi: 3.0.3
info:
  title: Clockify Unified OpenAPI
  version: '2026-05-12'
  description: |-
    Generated by scripts/gen-clockify-openapi from realOPENAPI, clockify-api-probe-lab, AIII/openapi.yaml, GOCLMCP coverage docs, and QA findings.
    Do not edit this file by hand; run `make gen-openapi` after source evidence changes.
    Operation vendor extensions preserve provenance, host, live status, MCP mapping, risk, raw unit notes, and known upstream quirks.
servers:
- url: https://api.clockify.me/api/v1
  description: Main Clockify API
- url: https://reports.api.clockify.me/v1
  description: Clockify reports and shared-reports API
- url: https://auditlog-api.api.clockify.me/v1
  description: Clockify audit-log API
security:
- ApiKeyAuth: []
tags:
- name: Approvals
- name: Audit Log Report
- name: Balances
- name: Clients
- name: Custom Fields
- name: Entity changes (Experimental)
- name: Expense Report
- name: Expense categories
- name: Expenses
- name: Files
- name: Holidays
- name: Invoice items
- name: Invoice payments
- name: Invoice settings
- name: Invoices
- name: Member profiles
- name: Policies
- name: Projects
- name: Reports
- name: Roles
- name: Scheduling
- name: Shared Reports
- name: Tags
- name: Tasks
- name: Time Entries
- name: Time Off
- name: Time Off Policies
- name: User Groups
- name: Users
- name: Webhooks
- name: Workspaces
paths:
  "/file/image":
    post:
      tags:
      - Files
      summary: Add a photo
      operationId: uploadImage
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: Image to be uploaded
                  format: binary
                  type: string
              required:
              - file
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                name: image-01234567.jpg
                url: https://clockify.com/image-01234567.jpg
              schema:
                "$ref": "#/components/schemas/ImageUploadResponse"
          description: Image upload response.
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Addon-Key
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/USERDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/USEROPENAPI.YAML
  "/shared-reports/{sharedReportId}":
    get:
      tags:
      - Shared Reports
      summary: Public/bare GET of a shared report or export
      description: |
        Bare path (no workspace segment). Pass `?exportType=PDF|CSV|XLSX|JSON_V1`
        to receive a binary export with `Content-Disposition` filename. Without
        `exportType`, returns the shared-report JSON envelope.
      operationId: getSharedReportsSharedReportId
      servers:
      - url: https://reports.api.clockify.me/v1
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: query
        name: exportType
        schema:
          enum:
          - JSON_V1
          - JSON
          - CSV
          - XLSX
          - PDF
          type: string
      - in: path
        name: sharedReportId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SharedReport"
            application/pdf:
              schema:
                format: binary
                type: string
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                format: binary
                type: string
            text/csv:
              schema:
                type: string
          description: OK — JSON envelope when `exportType` omitted; binary export
            otherwise.
      x-clockify-evidence:
      - aiii-openapi
      - live-success
      - probe-openapi
      x-clockify-host: https://reports.api.clockify.me/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Reports and shared-reports use the reports API host, not the main API host.
      - Shared-report GET-by-id is bare /shared-reports/{id}; workspace-prefixed paths
        are used for list/create/update/delete.
      - "| GET | reports.api.clockify.me | /v1/shared-reports/{id} | **200** | fixtures/shared-reports/reports_single-get.json
        |"
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/findings/shared-reports.md
      - clockify-api-probe-lab/openapi.yaml
  "/user":
    get:
      tags:
      - Users
      summary: Get currently logged-in user's info
      operationId: getCurrentUser
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: If set to true, memberships will be included.
        example: true
        in: query
        name: include-memberships
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example:
                activeWorkspace: 64a687e29ae1f428e7ebe303
                customFields: []
                defaultWorkspace: 64a687e29ae1f428e7ebe303
                email: "<EMAIL>"
                id: 5a0ab5acb07987125438b60f
                memberships: []
                name: John Doe
                profilePicture: https://www.url.com/profile-picture1234567890.png
                settings:
                  dateFormat: yyyy-MM-dd
                  summaryReportSettings:
                    group: PROJECT
                    subgroup: TASK
                  timeFormat: HOUR24
                  timeZone: Etc/UTC
                status: ACTIVE
              schema:
                "$ref": "#/components/schemas/UserDtoV1"
          description: Current user information.
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Addon-Key
          - X-Marketplace-Key
          schemes:
          - AddonKeyAuth
          - MarketplaceKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/USERDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/USEROPENAPI.YAML
  "/workspaces":
    get:
      tags:
      - Workspaces
      summary: Get all my workspaces
      description: Returns the current user's workspaces. Optionally filters workspaces
        by role.
      operationId: getAllMyWorkspaces
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: If provided, returns workspaces where the user has any of the
          specified roles. Owners are not counted as admins when filtering.
        example:
        - WORKSPACE_ADMIN
        - OWNER
        explode: true
        in: query
        name: roles
        required: false
        schema:
          items:
            enum:
            - WORKSPACE_ADMIN
            - OWNER
            - TEAM_MANAGER
            - PROJECT_MANAGER
            type: string
          type: array
        style: form
      responses:
        '200':
          content:
            application/json:
              example:
              - cakeOrganizationId: 67d471fb56aa9668b7bfa295
                costRate:
                  amount: 20000
                  currency: USD
                currencies:
                - code: USD
                  id: 33t687e29ae1f428e7ebe505
                  isDefault: true
                featureSubscriptionType: STANDARD_2021
                features:
                - ADD_TIME_FOR_OTHERS
                - ADMIN_PANEL
                - ALERTS
                - APPROVAL
                hourlyRate:
                  amount: 2000
                  currency: USD
                id: 64a687e29ae1f428e7ebe303
                imageUrl: https://www.url.com/imageurl-1234567890.jpg
                memberships: []
                name: Cool Company
                subdomain:
                  enabled: false
                  name: cool-company
                workspaceSettings:
                  durationFormat: FULL
                  workingDays:
                  - MONDAY
                  - TUESDAY
                  - WEDNESDAY
                  - THURSDAY
                  - FRIDAY
              schema:
                items:
                  "$ref": "#/components/schemas/Workspace"
                type: array
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Marketplace-Key
          schemes:
          - MarketplaceKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/WORKSPACESDOC.md
      - clockify-api-probe-lab/openapi-fragments/workspaces-a.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/WORKSPACEOPENAPI.YAML
    post:
      tags:
      - Workspaces
      summary: Add a workspace
      operationId: addWorkspace
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: Cool Company
              organizationId: 67d471fb56aa9668b7bfa295
            schema:
              "$ref": "#/components/schemas/CreateWorkspaceRequest"
        required: true
      responses:
        '201':
          content:
            application/json:
              example:
                cakeOrganizationId: 67d471fb56aa9668b7bfa295
                costRate:
                  amount: 20000
                  currency: USD
                currencies:
                - code: USD
                  id: 33t687e29ae1f428e7ebe505
                  isDefault: true
                featureSubscriptionType: STANDARD_2021
                features:
                - ADD_TIME_FOR_OTHERS
                - ADMIN_PANEL
                - ALERTS
                - APPROVAL
                hourlyRate:
                  amount: 2000
                  currency: USD
                id: 64a687e29ae1f428e7ebe303
                imageUrl: https://www.url.com/imageurl-1234567890.jpg
                memberships: []
                name: Cool Company
                subdomain:
                  enabled: false
                  name: cool-company
                workspaceSettings:
                  durationFormat: FULL
                  workingDays:
                  - MONDAY
                  - TUESDAY
                  - WEDNESDAY
                  - THURSDAY
                  - FRIDAY
              schema:
                "$ref": "#/components/schemas/Workspace"
          description: Created
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-security-aliases:
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/WORKSPACESDOC.md
      - clockify-api-probe-lab/openapi-fragments/workspaces-b.yaml
      - realOPENAPI/WORKSPACEOPENAPI.YAML
  "/workspaces/{workspaceId}":
    get:
      tags:
      - Workspaces
      summary: Get workspace info
      operationId: getWorkspaceInfo
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: Represents a workspace identifier across the system.
        in: path
        name: workspaceId
        required: true
        schema:
          example: 64a687e29ae1f428e7ebe303
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                cakeOrganizationId: 67d471fb56aa9668b7bfa295
                costRate:
                  amount: 20000
                  currency: USD
                currencies:
                - code: USD
                  id: 33t687e29ae1f428e7ebe505
                  isDefault: true
                featureSubscriptionType: STANDARD_2021
                features:
                - ADD_TIME_FOR_OTHERS
                - ADMIN_PANEL
                - ALERTS
                - APPROVAL
                hourlyRate:
                  amount: 2000
                  currency: USD
                id: 64a687e29ae1f428e7ebe303
                imageUrl: https://www.url.com/imageurl-1234567890.jpg
                memberships: []
                name: Cool Company
                subdomain:
                  enabled: false
                  name: cool-company
                workspaceSettings:
                  durationFormat: FULL
                  workingDays:
                  - MONDAY
                  - TUESDAY
                  - WEDNESDAY
                  - THURSDAY
                  - FRIDAY
              schema:
                "$ref": "#/components/schemas/Workspace"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Addon-Key
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/WORKSPACESDOC.md
      - clockify-api-probe-lab/openapi-fragments/workspaces-a.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/WORKSPACEOPENAPI.YAML
    put:
      tags:
      - Workspaces
      summary: "(DOC-LISTED) Update workspace — NOT BOUND on api.clockify.me"
      description: |
        The doc lists PUT /v1/workspaces/{workspaceId} but the host returns
        405 "Request method 'PUT' is not supported". Either the doc is wrong
        or this endpoint lives on a different host. Tested both empty body
        and a name+currency body; both 405.
      operationId: putWorkspacesWorkspaceId
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      responses:
        '405':
          content:
            application/json:
              example:
                code: 3000
                message: Request method 'PUT' is not supported
              schema:
                "$ref": "#/components/schemas/WorkspacesErrorEnvelope"
          description: method not supported on this host
      x-clockify-evidence:
      - probe-fragment
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - clockify-api-probe-lab/openapi-fragments/workspaces-b.yaml
  "/workspaces/{workspaceId}/addons/{addonId}/webhooks":
    get:
      tags:
      - Webhooks
      summary: Get all webhooks for addon on a workspace
      operationId: getAddonWebhooksOnWorkspace
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: addonId
        required: true
        schema:
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/WebhookCollectionResponse"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/WEBHOOKDOC.md
      - clockify-api-probe-lab/openapi-fragments/webhooks-a.yaml
      - realOPENAPI/WEBHOOKSOPENAPI.YAML
  "/workspaces/{workspaceId}/approval-requests":
    get:
      tags:
      - Approvals
      summary: Get approval requests
      operationId: getApprovalRequests
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      - description: Filters results based on the provided approval state.
        example: PENDING
        in: query
        name: status
        required: false
        schema:
          "$ref": "#/components/schemas/ApprovalRequestFilterState"
      - description: Column name to use as sorting criteria.
        example: START
        in: query
        name: sort-column
        required: false
        schema:
          "$ref": "#/components/schemas/ApprovalRequestSortColumn"
      - description: 1-based page index. Default 1.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Page size (number of items per page). Default 50; maximum 200.
        in: query
        name: page-size
        required: false
        schema:
          default: 50
          format: int32
          maximum: 200
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
              - approvalRequest:
                  creator:
                    userEmail: "<EMAIL>"
                    userId: 5a0ab5acb07987125438b60f
                    userName: johhndoe
                  dateRange:
                    end: '2019-08-24T14:15:22Z'
                    start: '2019-08-24T14:15:22Z'
                  id: 567687e29ae1f428e7ebf564
                  owner:
                    startOfWeek: MONDAY
                    timeZone: Europe/Budapest
                    userId: 5a0ab5acb07987125438b60f
                    userName: johndoe
                  status:
                    note: This is a sample approval request note.
                    state: APPROVED
                    updatedAt: '2020-01-01T08:00:00Z'
                    updatedBy: 5a0ab5acb07987125438b60f
                    updatedByUserName: juandelacruz
                  workspaceId: 64a687e29ae1f428e7ebe303
                approvedTime: PT1H30M
                billableAmount: 2500
                billableTime: PT1H30M
                breakTime: PT1H30M
                costAmount: 5000
                entries:
                - approvalRequestId: 5e4117fe8c625f38930d57b7
                  billable: false
                  costRate:
                    amount: 10500
                    currency: USD
                  customFieldValues:
                  - customFieldId: 44a687e29ae1f428e7ebe305
                    sourceType: WORKSPACE
                    timeEntryId: 64c777ddd3fcab07cfbb210c
                    value: 20231211-12345
                  description: This is a sample time entry description.
                  hourlyRate:
                    amount: 10500
                    currency: USD
                  id: 5b715448b0798751107918ab
                  isLocked: false
                  project:
                    clientId: 64c777ddd3fcab07cfbb210c
                    clientName: Client X
                    color: "#000000"
                    id: 5b641568b07987035750505e
                    name: Software Development
                  tags:
                  - archived: false
                    id: 64c777ddd3fcab07cfbb210c
                    name: Sprint1
                    workspaceId: 64a687e29ae1f428e7ebe303
                  task:
                    id: 5b715448b0798751107918ab
                    name: Bugfixing
                  timeInterval:
                    duration: PT1H30M
                    end: '2019-08-24T14:15:22Z'
                    offsetEnd: 0
                    offsetStart: 0
                    start: '2019-08-24T14:15:22Z'
                    timeZone: string
                    zonedEnd: '2019-08-24T14:15:22Z'
                    zonedStart: '2019-08-24T14:15:22Z'
                  type: REGULAR
                expenseTotal: 7500
                expenses:
                - approvalRequestId: 445687e29ae1f428e7ebe893
                  approvalStatus: PENDING
                  billable: false
                  category:
                    archived: false
                    hasUnitPrice: false
                    id: 89a687e29ae1f428e7ebe303
                    name: Procurement
                    priceInCents: 1000
                    unit: piece
                    workspaceId: 64a687e29ae1f428e7ebe303
                  currency: USD
                  date: '2020-01-01'
                  detailedApprovalStatus: PENDING
                  fileId: 745687e29ae1f428e7ebe890
                  fileName: file_12345.csv
                  fileUrl: string
                  id: 64c777ddd3fcab07cfbb210c
                  locked: true
                  notes: This is a sample note for this expense.
                  project:
                    clientId: 64c777ddd3fcab07cfbb210c
                    clientName: Client X
                    color: "#000000"
                    id: 5b641568b07987035750505e
                    name: Software Development
                  quantity: 0.1
                  task:
                    id: 5b715448b0798751107918ab
                    name: Bugfixing
                  total: 10500.5
                  userId: 89b687e29ae1f428e7ebe912
                  workspaceId: 64a687e29ae1f428e7ebe303
                pendingTime: PT1H30M
                trackedTime: PT1H30M
              schema:
                items:
                  "$ref": "#/components/schemas/ApprovalRequestListItem"
                type: array
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/APPROVALDOC.md
      - clockify-api-probe-lab/openapi-fragments/approvals-a.yaml
      - clockify-api-probe-lab/openapi-fragments/approvals-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/APPROVALOPENAPI.YAML
    post:
      tags:
      - Approvals
      summary: Submit approval request
      operationId: submitApprovalRequest
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      requestBody:
        content:
          application/json:
            example:
              period: MONTHLY
              periodStart: '2020-01-01T00:00:00.000Z'
            schema:
              "$ref": "#/components/schemas/SubmitApprovalRequestRequest"
        required: true
      responses:
        '201':
          content:
            application/json:
              example:
                creator:
                  userEmail: "<EMAIL>"
                  userId: 5a0ab5acb07987125438b60f
                  userName: johhndoe
                dateRange:
                  end: '2019-08-24T14:15:22Z'
                  start: '2019-08-24T14:15:22Z'
                id: 567687e29ae1f428e7ebf564
                owner:
                  startOfWeek: MONDAY
                  timeZone: Europe/Budapest
                  userId: 5a0ab5acb07987125438b60f
                  userName: johndoe
                status:
                  note: This is a sample approval request note.
                  state: APPROVED
                  updatedAt: '2020-01-01T08:00:00Z'
                  updatedBy: 5a0ab5acb07987125438b60f
                  updatedByUserName: juandelacruz
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                "$ref": "#/components/schemas/ApprovalRequestDtoV1"
          description: Created
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/APPROVALDOC.md
      - realOPENAPI/APPROVALOPENAPI.YAML
  "/workspaces/{workspaceId}/approval-requests/resubmit-entries-for-approval":
    post:
      tags:
      - Approvals
      summary: Submit non pending/approved entries/expenses for approval to an existing
        approval request
      operationId: resubmitEntriesForApproval
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      requestBody:
        content:
          application/json:
            example:
              period: MONTHLY
              periodStart: '2020-01-01T00:00:00.000Z'
            schema:
              "$ref": "#/components/schemas/SubmitApprovalRequestRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                creator:
                  userEmail: "<EMAIL>"
                  userId: 5a0ab5acb07987125438b60f
                  userName: johhndoe
                dateRange:
                  end: '2019-08-24T14:15:22Z'
                  start: '2019-08-24T14:15:22Z'
                id: 567687e29ae1f428e7ebf564
                owner:
                  startOfWeek: MONDAY
                  timeZone: Europe/Budapest
                  userId: 5a0ab5acb07987125438b60f
                  userName: johndoe
                status:
                  note: This is a sample approval request note.
                  state: APPROVED
                  updatedAt: '2020-01-01T08:00:00Z'
                  updatedBy: 5a0ab5acb07987125438b60f
                  updatedByUserName: juandelacruz
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                "$ref": "#/components/schemas/ApprovalRequestDtoV1"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/APPROVALDOC.md
      - realOPENAPI/APPROVALOPENAPI.YAML
  "/workspaces/{workspaceId}/approval-requests/users/{userId}":
    post:
      tags:
      - Approvals
      summary: Submit an approval request for a user
      operationId: submitApprovalRequestForUser
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      - "$ref": "#/components/parameters/userId"
      requestBody:
        content:
          application/json:
            example:
              period: MONTHLY
              periodStart: '2020-01-01T00:00:00.000Z'
            schema:
              "$ref": "#/components/schemas/SubmitApprovalRequestRequest"
        required: true
      responses:
        '201':
          content:
            application/json:
              example:
                creator:
                  userEmail: "<EMAIL>"
                  userId: 5a0ab5acb07987125438b60f
                  userName: johhndoe
                dateRange:
                  end: '2019-08-24T14:15:22Z'
                  start: '2019-08-24T14:15:22Z'
                id: 567687e29ae1f428e7ebf564
                owner:
                  startOfWeek: MONDAY
                  timeZone: Europe/Budapest
                  userId: 5a0ab5acb07987125438b60f
                  userName: johndoe
                status:
                  note: This is a sample approval request note.
                  state: APPROVED
                  updatedAt: '2020-01-01T08:00:00Z'
                  updatedBy: 5a0ab5acb07987125438b60f
                  updatedByUserName: juandelacruz
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                "$ref": "#/components/schemas/ApprovalRequestDtoV1"
          description: Created
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/APPROVALDOC.md
      - clockify-api-probe-lab/openapi-fragments/approvals-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/APPROVALOPENAPI.YAML
  "/workspaces/{workspaceId}/approval-requests/users/{userId}/resubmit-entries-for-approval":
    post:
      tags:
      - Approvals
      summary: Re-submit rejected/withdrawn entries/expenses for an approval of a
        user
      operationId: resubmitEntriesForApprovalForUser
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      - "$ref": "#/components/parameters/userId"
      requestBody:
        content:
          application/json:
            example:
              period: MONTHLY
              periodStart: '2020-01-01T00:00:00.000Z'
            schema:
              "$ref": "#/components/schemas/SubmitApprovalRequestRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                creator:
                  userEmail: "<EMAIL>"
                  userId: 5a0ab5acb07987125438b60f
                  userName: johhndoe
                dateRange:
                  end: '2019-08-24T14:15:22Z'
                  start: '2019-08-24T14:15:22Z'
                id: 567687e29ae1f428e7ebf564
                owner:
                  startOfWeek: MONDAY
                  timeZone: Europe/Budapest
                  userId: 5a0ab5acb07987125438b60f
                  userName: johndoe
                status:
                  note: This is a sample approval request note.
                  state: APPROVED
                  updatedAt: '2020-01-01T08:00:00Z'
                  updatedBy: 5a0ab5acb07987125438b60f
                  updatedByUserName: juandelacruz
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                "$ref": "#/components/schemas/ApprovalRequestDtoV1"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/APPROVALDOC.md
      - clockify-api-probe-lab/openapi-fragments/approvals-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/APPROVALOPENAPI.YAML
  "/workspaces/{workspaceId}/approval-requests/{approvalRequestId}":
    patch:
      tags:
      - Approvals
      summary: Update an approval request
      operationId: updateApprovalRequest
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      - "$ref": "#/components/parameters/approvalRequestId"
      requestBody:
        content:
          application/json:
            example:
              note: Approved after review.
              state: APPROVED
            schema:
              "$ref": "#/components/schemas/UpdateApprovalRequestRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                creator:
                  userEmail: "<EMAIL>"
                  userId: 5a0ab5acb07987125438b60f
                  userName: johhndoe
                dateRange:
                  end: '2019-08-24T14:15:22Z'
                  start: '2019-08-24T14:15:22Z'
                id: 567687e29ae1f428e7ebf564
                owner:
                  startOfWeek: MONDAY
                  timeZone: Europe/Budapest
                  userId: 5a0ab5acb07987125438b60f
                  userName: johndoe
                status:
                  note: This is a sample approval request note.
                  state: APPROVED
                  updatedAt: '2020-01-01T08:00:00Z'
                  updatedBy: 5a0ab5acb07987125438b60f
                  updatedByUserName: juandelacruz
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                "$ref": "#/components/schemas/ApprovalRequestDtoV1"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - probe-fragment
      - probe-openapi
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/openapi-fragments/approvals-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/APPROVALOPENAPI.YAML
  "/workspaces/{workspaceId}/audit-log":
    post:
      tags:
      - Audit Log Report
      summary: Generate an audit log report using the audit-log /v1 API
      description: |
        Searches audit log entries on Clockify's dedicated audit-log host.
        Prior evidence showed GET returns 405; use POST with a JSON body.
        MCP has no typed tool mapping yet, and this host should not be exposed
        through the generic raw fallback without an explicit host-routing design.
      operationId: searchAuditLogs
      servers:
      - url: https://auditlog-api.api.clockify.me/v1
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AuditLogRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuditLogResponse"
          description: OK. Bare JSON array of audit log entries.
      x-clockify-evidence:
      - har-capture
      - live-success
      - official-json
      - probe-fragment
      x-clockify-host: https://auditlog-api.api.clockify.me/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Dedicated audit-log host; do not use the main api.clockify.me/api/v1 host
        for this route.
      - GET returned 405 in prior evidence; POST accepts actions/authors/start/end/page/page-size.
      - No typed MCP tool mapping exists yet.
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - clockify-api-probe-lab/openapi-fragments/audit-log.yaml
  "/workspaces/{workspaceId}/clients":
    get:
      tags:
      - Clients
      summary: List clients
      operationId: getWorkspacesWorkspaceIdClients
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: query
        name: name
        schema:
          type: string
      - in: query
        name: archived
        schema:
          type: boolean
      - in: query
        name: address
        schema:
          type: string
      - in: query
        name: note
        schema:
          type: string
      - in: query
        name: sort-column
        schema:
          enum:
          - NAME
          - EMAIL
          - NOTE
          type: string
      - in: query
        name: sort-order
        schema:
          enum:
          - ASCENDING
          - DESCENDING
          type: string
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - description: 1-based page index. Default 1.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Page size (number of items per page). Default 50; maximum 200.
        in: query
        name: page-size
        required: false
        schema:
          default: 50
          format: int32
          maximum: 200
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/Client"
                type: array
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CLIENTDOC.md
      - clockify-api-probe-lab/CLIENTSDOC.md
      - clockify-api-probe-lab/openapi-fragments/clients-a.yaml
      - clockify-api-probe-lab/openapi.yaml
      x-fern-sdk-group-name: clients
      x-fern-sdk-method-name: list
    post:
      tags:
      - Clients
      summary: Create client
      operationId: postWorkspacesWorkspaceIdClients
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClientCreate"
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Client"
          description: Created
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CLIENTDOC.md
      - clockify-api-probe-lab/CLIENTSDOC.md
      - clockify-api-probe-lab/openapi-fragments/clients-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      x-fern-sdk-group-name: clients
      x-fern-sdk-method-name: create
  "/workspaces/{workspaceId}/clients/{clientId}":
    get:
      tags:
      - Clients
      summary: Get client
      operationId: getWorkspacesWorkspaceIdClientsClientId
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Client"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CLIENTDOC.md
      - clockify-api-probe-lab/CLIENTSDOC.md
      - clockify-api-probe-lab/openapi-fragments/clients-a.yaml
      - clockify-api-probe-lab/openapi.yaml
      x-fern-sdk-group-name: clients
      x-fern-sdk-method-name: get
    put:
      tags:
      - Clients
      summary: Update client
      operationId: putWorkspacesWorkspaceIdClientsClientId
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: clientId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClientUpdate"
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Client"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CLIENTDOC.md
      - clockify-api-probe-lab/CLIENTSDOC.md
      - clockify-api-probe-lab/openapi-fragments/clients-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      x-fern-sdk-group-name: clients
      x-fern-sdk-method-name: update
    delete:
      tags:
      - Clients
      summary: Delete client
      operationId: deleteWorkspacesWorkspaceIdClientsClientId
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: clientId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Archive active projects or clients before delete where Clockify requires it.
      x-clockify-risk:
      - destructive
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CLIENTDOC.md
      - clockify-api-probe-lab/CLIENTSDOC.md
      - clockify-api-probe-lab/openapi-fragments/clients-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      x-fern-sdk-group-name: clients
      x-fern-sdk-method-name: delete
  "/workspaces/{workspaceId}/clients/{clientId}/archive":
    put:
      tags:
      - Clients
      summary: Archive / unarchive client
      operationId: putWorkspacesWorkspaceIdClientsClientIdArchive
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: clientId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                archived:
                  type: boolean
              type: object
        required: true
      responses:
        '200':
          description: OK
      x-clockify-evidence:
      - probe-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - clockify-api-probe-lab/openapi.yaml
      x-fern-sdk-group-name: clients
      x-fern-sdk-method-name: archive
  "/workspaces/{workspaceId}/cost-rate":
    put:
      tags:
      - Workspaces
      summary: Update workspace cost rate
      operationId: updateWorkspaceCostRate
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: Represents a workspace identifier across the system.
        in: path
        name: workspaceId
        required: true
        schema:
          example: 64a687e29ae1f428e7ebe303
          type: string
      requestBody:
        content:
          application/json:
            example:
              amount: 20000
              since: '2020-01-01T00:00:00Z'
            schema:
              "$ref": "#/components/schemas/UpdateCostRateRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                cakeOrganizationId: 67d471fb56aa9668b7bfa295
                costRate:
                  amount: 20000
                  currency: USD
                currencies:
                - code: USD
                  id: 33t687e29ae1f428e7ebe505
                  isDefault: true
                featureSubscriptionType: STANDARD_2021
                features:
                - ADD_TIME_FOR_OTHERS
                - ADMIN_PANEL
                - ALERTS
                - APPROVAL
                hourlyRate:
                  amount: 2000
                  currency: USD
                id: 64a687e29ae1f428e7ebe303
                imageUrl: https://www.url.com/imageurl-1234567890.jpg
                memberships: []
                name: Cool Company
                subdomain:
                  enabled: false
                  name: cool-company
                workspaceSettings:
                  durationFormat: FULL
                  workingDays:
                  - MONDAY
                  - TUESDAY
                  - WEDNESDAY
                  - THURSDAY
                  - FRIDAY
              schema:
                "$ref": "#/components/schemas/Workspace"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      x-clockify-risk:
      - write
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Addon-Key
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/WORKSPACESDOC.md
      - clockify-api-probe-lab/openapi-fragments/workspaces-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/WORKSPACEOPENAPI.YAML
  "/workspaces/{workspaceId}/custom-fields":
    get:
      tags:
      - Custom Fields
      summary: Get custom fields on a workspace
      description: Returns custom fields on a workspace, optionally filtered by name,
        status, and entity type.
      operationId: listWorkspaceCustomFields
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      - description: 1-based page index. Default 1.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Page size (number of items per page). Default 50; maximum 200.
        in: query
        name: page-size
        required: false
        schema:
          default: 50
          format: int32
          maximum: 200
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
              - allowedValues:
                - New York
                - London
                - Manila
                - Sydney
                - Belgrade
                description: This field contains a location.
                entityType: USER
                id: 44a687e29ae1f428e7ebe305
                name: location
                onlyAdminCanEdit: false
                placeholder: Location
                projectDefaultValues: []
                required: false
                status: VISIBLE
                type: DROPDOWN_MULTIPLE
                workspaceDefaultValue: Manila
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                items:
                  "$ref": "#/components/schemas/CustomField"
                type: array
          description: OK
        '401':
          "$ref": "#/components/responses/Unauthorized"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - live-success
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - "| GET | api.clockify.me | /api/v1/workspaces/{ws}/custom-fields | 200 | fixtures/custom-fields/list.json
        / list-sample.json |"
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CUSTOMFIELDSDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/findings/custom-fields.md
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/CFSOPEANI.YAML
      x-openai-isConsequential: false
    post:
      tags:
      - Custom Fields
      summary: Create custom field on a workspace
      description: Creates a custom field on a workspace.
      operationId: createWorkspaceCustomField
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCustomFieldRequest"
        required: true
      responses:
        '201':
          content:
            application/json:
              example:
                allowedValues:
                - New York
                - London
                - Manila
                - Sydney
                - Belgrade
                description: This field contains a location.
                entityType: USER
                id: 44a687e29ae1f428e7ebe305
                name: location
                onlyAdminCanEdit: false
                placeholder: Location
                projectDefaultValues: []
                required: false
                status: VISIBLE
                type: DROPDOWN_MULTIPLE
                workspaceDefaultValue: Manila
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                "$ref": "#/components/schemas/CustomField"
          description: Created
        '401':
          "$ref": "#/components/responses/Unauthorized"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CUSTOMFIELDSDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/CFSOPEANI.YAML
      x-openai-isConsequential: true
  "/workspaces/{workspaceId}/custom-fields/{customFieldId}":
    put:
      tags:
      - Custom Fields
      summary: Update custom field on workspace
      description: Updates a custom field on a workspace.
      operationId: updateWorkspaceCustomField
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      - in: path
        name: customFieldId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCustomFieldRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                allowedValues:
                - New York
                - London
                - Manila
                - Sydney
                - Belgrade
                description: This field contains a location.
                entityType: USER
                id: 44a687e29ae1f428e7ebe305
                name: location
                onlyAdminCanEdit: false
                placeholder: Location
                projectDefaultValues: []
                required: false
                status: VISIBLE
                type: DROPDOWN_MULTIPLE
                workspaceDefaultValue: Manila
                workspaceId: 64a687e29ae1f428e7ebe303
              schema:
                "$ref": "#/components/schemas/CustomField"
          description: OK
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CUSTOMFIELDSDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/CFSOPEANI.YAML
      x-openai-isConsequential: true
    delete:
      tags:
      - Custom Fields
      summary: Delete a custom field
      description: Deletes a custom field from a workspace.
      operationId: deleteWorkspaceCustomField
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - "$ref": "#/components/parameters/workspaceId"
      - in: path
        name: customFieldId
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - destructive
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/CUSTOMFIELDSDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/CFSOPEANI.YAML
      x-openai-isConsequential: true
  "/workspaces/{workspaceId}/entities/created":
    get:
      tags:
      - Entity changes (Experimental)
      summary: Created entities (Experimental)
      description: "Retrieves records from the database collection that were created
        within a specified date range.  \nThe date range is determined by two parameters:
        start and end.  "
      operationId: getCreatedEntityInfo
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: Represents workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
          type: string
      - description: Specifies the type of document to be retrieved. Expected values
          are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE,
          TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values,
          and at least one option must be provided. Based on the input, the application
          will return results corresponding to the selected document types.
        example: TIME_ENTRY
        in: query
        name: type
        required: true
        schema:
          description: Specifies the type of document to be retrieved. Expected values
            are ${changetracker.update.documentation.description}.This parameter can
            accept multiple values, and at least one option must be provided. Based
            on the input, the application will return results corresponding to the
            selected document types.
          example: TIME_ENTRY
          items:
            description: Specifies the type of document to be retrieved. Expected
              values are ${changetracker.update.documentation.description}.This parameter
              can accept multiple values, and at least one option must be provided.
              Based on the input, the application will return results corresponding
              to the selected document types.
            example: TIME_ENTRY
            type: string
          type: array
      - description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This
          parameter is optional; if no start date is provided, the application will
          set a default start date that matches the end date to create a date range
          of 30 days. If the end date is not specified either, the default behavior
          will apply from the current date.
        example: '2024-10-29T10:00:00Z'
        in: query
        name: start
        required: false
        schema:
          description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This
            parameter is optional; if no start date is provided, the application will
            set a default start date that matches the end date to create a date range
            of 30 days. If the end date is not specified either, the default behavior
            will apply from the current date.
          example: '2024-10-29T10:00:00Z'
          type: string
      - description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This
          parameter is optional; if no end date is provided, the application will
          set a default end date that matches the start date to create a date range
          of 30 days.
        example: '2024-11-28T10:00:00Z'
        in: query
        name: end
        required: false
        schema:
          description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This
            parameter is optional; if no end date is provided, the application will
            set a default end date that matches the start date to create a date range
            of 30 days.
          example: '2024-11-28T10:00:00Z'
          type: string
      - in: query
        name: page
        required: false
        schema:
          default: '0'
          type: string
      - in: query
        name: limit
        required: false
        schema:
          default: '50'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: {}
                type: string
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - x-addon-token
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - x-api-key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
  "/workspaces/{workspaceId}/entities/deleted":
    get:
      tags:
      - Entity changes (Experimental)
      summary: Deleted entities (Experimental)
      description: "Retrieves a list of record(s) that were deleted within a specified
        date range.   \nThe date range is determined by the two parameters start and
        end.  \n\n> ### \U0001F4A1 Note\n> Deleted entities will be updated and reflected
        in this endpoint approximately one minute after the deletion occurs. Also,
        entities that are created and deleted within the request date range will not
        appear in the /deleted endpoint. "
      operationId: getDeletedEntityInfo
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: 'Represents workspace identifier across the system (Experimental) '
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          description: 'Represents workspace identifier across the system (Experimental) '
          example: 64a687e29ae1f428e7ebe303
          type: string
      - description: Specifies the type of document to be retrieved. Expected values
          are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE,
          TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values,
          and at least one option must be provided. Based on the input, the application
          will return results corresponding to the selected document types.
        example: TIME_ENTRY
        in: query
        name: type
        required: true
        schema:
          description: Specifies the type of document to be retrieved. Expected values
            are ${changetracker.update.documentation.description}.This parameter can
            accept multiple values, and at least one option must be provided. Based
            on the input, the application will return results corresponding to the
            selected document types.
          example: TIME_ENTRY
          items:
            description: Specifies the type of document to be retrieved. Expected
              values are ${changetracker.update.documentation.description}.This parameter
              can accept multiple values, and at least one option must be provided.
              Based on the input, the application will return results corresponding
              to the selected document types.
            example: TIME_ENTRY
            type: string
          type: array
      - description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This
          parameter is optional; if no start date is provided, the application will
          set a default start date that matches the end date to create a date range
          of 30 days. If the end date is not specified either, the default behavior
          will apply from the current date.
        example: '2024-10-29T10:00:00Z'
        in: query
        name: start
        required: false
        schema:
          description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This
            parameter is optional; if no start date is provided, the application will
            set a default start date that matches the end date to create a date range
            of 30 days. If the end date is not specified either, the default behavior
            will apply from the current date.
          example: '2024-10-29T10:00:00Z'
          type: string
      - description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This
          parameter is optional; if no end date is provided, the application will
          set a default end date that matches the start date to create a date range
          of 30 days.
        example: '2024-11-28T10:00:00Z'
        in: query
        name: end
        required: false
        schema:
          description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This
            parameter is optional; if no end date is provided, the application will
            set a default end date that matches the start date to create a date range
            of 30 days.
          example: '2024-11-28T10:00:00Z'
          type: string
      - in: query
        name: page
        required: false
        schema:
          default: '0'
          type: string
      - in: query
        name: limit
        required: false
        schema:
          default: '50'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PageableCollectionLogBinDocumentDto"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - x-addon-token
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - x-api-key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
  "/workspaces/{workspaceId}/entities/updated":
    get:
      tags:
      - Entity changes (Experimental)
      summary: Updated entities (Experimental)
      description: "Retrieves records that were updated within the specified date
        range.   \nThe date range is determined by the two parameters: start and end.
        \  \n\n> ### \U0001F4A1 Note\n> If an entity is both created and updated within
        the requested date range, it will be excluded from the /updated endpoint results.
        \ "
      operationId: getUpdatedEntityInfo
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: Represents workspace identifier across the system.
        example: 64a687e29ae1f428e7ebe303
        in: path
        name: workspaceId
        required: true
        schema:
          description: Represents workspace identifier across the system.
          example: 64a687e29ae1f428e7ebe303
          type: string
      - description: Specifies the type of document to be retrieved. Expected values
          are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE,
          TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values,
          and at least one option must be provided. Based on the input, the application
          will return results corresponding to the selected document types.
        example: TIME_ENTRY
        in: query
        name: type
        required: true
        schema:
          description: Specifies the type of document to be retrieved. Expected values
            are ${changetracker.update.documentation.description}.This parameter can
            accept multiple values, and at least one option must be provided. Based
            on the input, the application will return results corresponding to the
            selected document types.
          example: TIME_ENTRY
          items:
            description: Specifies the type of document to be retrieved. Expected
              values are ${changetracker.update.documentation.description}.This parameter
              can accept multiple values, and at least one option must be provided.
              Based on the input, the application will return results corresponding
              to the selected document types.
            example: TIME_ENTRY
            type: string
          type: array
      - description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This
          parameter is optional; if no start date is provided, the application will
          set a default start date that matches the end date to create a date range
          of 30 days. If the end date is not specified either, the default behavior
          will apply from the current date.
        example: '2024-10-29T10:00:00Z'
        in: query
        name: start
        required: false
        schema:
          description: Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This
            parameter is optional; if no start date is provided, the application will
            set a default start date that matches the end date to create a date range
            of 30 days. If the end date is not specified either, the default behavior
            will apply from the current date.
          example: '2024-10-29T10:00:00Z'
          type: string
      - description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This
          parameter is optional; if no end date is provided, the application will
          set a default end date that matches the start date to create a date range
          of 30 days.
        example: '2024-11-28T10:00:00Z'
        in: query
        name: end
        required: false
        schema:
          description: Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This
            parameter is optional; if no end date is provided, the application will
            set a default end date that matches the start date to create a date range
            of 30 days.
          example: '2024-11-28T10:00:00Z'
          type: string
      - in: query
        name: page
        required: false
        schema:
          default: '0'
          type: string
      - in: query
        name: limit
        required: false
        schema:
          default: '50'
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: {}
                type: string
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: documented
      x-clockify-mcp-tools: []
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - x-addon-token
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - x-api-key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
  "/workspaces/{workspaceId}/expenses":
    get:
      tags:
      - Expenses
      summary: Get all expenses on a workspace
      operationId: getWorkspaceExpenses
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WorkspaceExpensesDtoV1"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
    post:
      tags:
      - Expenses
      summary: Create an expense
      operationId: createExpense
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      requestBody:
        "$ref": "#/components/requestBodies/CreateExpenseMultipart"
      responses:
        '201':
          "$ref": "#/components/responses/ExpenseCreatedResponse"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Expense create/update uses multipart form-data in live Clockify.
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
  "/workspaces/{workspaceId}/expenses/categories":
    get:
      tags:
      - Expense categories
      summary: Get all expense categories
      operationId: getExpenseCategories
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExpenseCategoriesDtoV1"
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - live-success
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - "| GET | api.clockify.me | /workspaces/{ws}/expenses/categories | 200 | fixtures/expenses/categories-list.json
        (v2: categories-list-v2.json — wrapped `{count, categories}`) |"
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/findings/expenses.md
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
    post:
      tags:
      - Expense categories
      summary: Add an expense category
      operationId: addExpenseCategory
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      requestBody:
        "$ref": "#/components/requestBodies/ExpenseCategoryJson"
      responses:
        '201':
          "$ref": "#/components/responses/ExpenseCategoryCreatedResponse"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - live-success
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Expense create/update uses multipart form-data in live Clockify.
      - "| POST | api.clockify.me | /workspaces/{ws}/expenses/categories | 201 | fixtures/expenses/category-create.json
        |"
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/findings/expenses.md
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
  "/workspaces/{workspaceId}/expenses/categories/{categoryId}":
    put:
      tags:
      - Expense categories
      summary: Update an expense category
      operationId: updateExpenseCategory
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: categoryId
        required: true
        schema:
          type: string
      requestBody:
        "$ref": "#/components/requestBodies/ExpenseCategoryJson"
      responses:
        '200':
          "$ref": "#/components/responses/ExpenseCategoryResponse"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - live-success
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Expense create/update uses multipart form-data in live Clockify.
      - "| PUT | api.clockify.me | /workspaces/{ws}/expenses/categories/{id} | 200
        | fixtures/expenses/category-update.json |"
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/findings/expenses.md
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
    delete:
      tags:
      - Expense categories
      summary: Delete an expense category
      operationId: deleteExpenseCategory
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: categoryId
        required: true
        schema:
          type: string
      responses:
        '204':
          "$ref": "#/components/responses/NoContent"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - destructive
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
  "/workspaces/{workspaceId}/expenses/categories/{categoryId}/status":
    patch:
      tags:
      - Expense categories
      summary: Archive an expense category
      operationId: archiveExpenseCategory
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: categoryId
        required: true
        schema:
          type: string
      requestBody:
        "$ref": "#/components/requestBodies/ExpenseCategoryStatusJson"
      responses:
        '200':
          "$ref": "#/components/responses/ExpenseCategoryResponse"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Expense create/update uses multipart form-data in live Clockify.
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
  "/workspaces/{workspaceId}/expenses/{expenseId}":
    get:
      tags:
      - Expenses
      summary: Get an expense by ID
      operationId: getExpenseById
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: expenseId
        required: true
        schema:
          pattern: "^[0-9a-fA-F]{24}$"
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/ExpenseResponse"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
    put:
      tags:
      - Expenses
      summary: Update an expense
      operationId: updateExpense
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: expenseId
        required: true
        schema:
          pattern: "^[0-9a-fA-F]{24}$"
          type: string
      requestBody:
        "$ref": "#/components/requestBodies/UpdateExpenseMultipart"
      responses:
        '200':
          "$ref": "#/components/responses/ExpenseResponse"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - Expense create/update uses multipart form-data in live Clockify.
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - write
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
    delete:
      tags:
      - Expenses
      summary: Delete an expense
      operationId: deleteExpense
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: expenseId
        required: true
        schema:
          pattern: "^[0-9a-fA-F]{24}$"
          type: string
      responses:
        '200':
          "$ref": "#/components/responses/OkNoBody"
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - destructive
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/EXPENSESDOC.md
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
  "/workspaces/{workspaceId}/expenses/{expenseId}/files/{fileId}":
    get:
      tags:
      - Expenses
      summary: Download a receipt
      description: Download an expense receipt file. The uploaded Markdown includes
        this operation's parameters and response but omits the method/path line; this
        path is completed from the official Clockify documentation.
      operationId: downloadExpenseReceipt
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: expenseId
        required: true
        schema:
          pattern: "^[0-9a-fA-F]{24}$"
          type: string
      - in: path
        name: fileId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                format: byte
                type: string
          description: OK
      x-clockify-evidence:
      - aiii-openapi
      - probe-fragment
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: probe-documented
      x-clockify-mcp-tools: []
      x-clockify-raw-unit-notes:
      - Money/rate fields use raw upstream integer units; no currency scaling is applied.
      - Expense amount and total fields preserve upstream scaling observed in live
        probes.
      x-clockify-risk:
      - read
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/USEREXPENCUSTOMFIED.yaml
      - clockify-api-probe-lab/openapi-fragments/expenses-b.yaml
      - realOPENAPI/EXPENSESOPEAPI.YAML
      x-inferred-method-path: true
  "/workspaces/{workspaceId}/holidays":
    get:
      tags:
      - Holidays
      summary: Get holidays on a workspace
      operationId: getWorkspaceHolidays
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: If provided, returns a filtered list of holidays assigned to
          the user.
        example: 60f924bafdaf031696ec6218
        in: query
        name: assigned-to
        required: false
        schema:
          type: string
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - description: 1-based page index. Default 1.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          minimum: 1
          type: integer
      - description: Page size (number of items per page). Default 50; maximum 200.
        in: query
        name: page-size
        required: false
        schema:
          default: 50
          format: int32
          maximum: 200
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              example:
              - automaticTimeEntryCreation: false
                datePeriod:
                  endDate: '2024-01-01'
                  startDate: '2024-01-01'
                everyoneIncludingNew: false
                id: 5b715612b079875110791111
                name: New Year's Day
                occursAnnually: true
                projectId: 65b36d3c525e243c48f9150f
                taskId: 65b36d46fa3df8607e42d21a
                userGroupIds:
                - 5b715612b079875110791342
                - 5b715612b079875110791324
                - 5b715612b079875110793142
                userIds:
                - 5b715612b079875110791432
                - 5b715612b079875110791234
                workspaceId: 5b715612b079875110792222
              schema:
                items:
                  "$ref": "#/components/schemas/HolidayDto"
                type: array
          description: List of holidays on the workspace.
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - live-success
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - "| GET | api.clockify.me | /api/v1/workspaces/{ws}/holidays | 200 | fixtures/holidays/list.json
        |"
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Addon-Key
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/HOLIDAYSDOC.md
      - clockify-api-probe-lab/findings/holidays.md
      - clockify-api-probe-lab/inveoice+Balance+Policies+TimeOff.yaml
      - clockify-api-probe-lab/openapi-fragments/holidays-a.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/HOLIDAYSOPEAPI.YAML
      x-fern-sdk-group-name: holidays
      x-fern-sdk-method-name: list
    post:
      tags:
      - Holidays
      summary: Create a holiday
      operationId: createHoliday
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              automaticTimeEntryCreation:
                defaultEntities:
                  projectId: 65b36d3c525e243c48f9150f
                  taskId: 65b36d46fa3df8607e42d21a
                enabled: false
              color: "#8BC34A"
              datePeriod:
                endDate: '2024-05-01'
                startDate: '2024-05-01'
              everyoneIncludingNew: true
              name: Labour Day
              occursAnnually: true
              userGroups:
                contains: CONTAINS
                ids:
                - 5b715612b079875110791342
                status: ACTIVE
              users:
                contains: CONTAINS
                ids:
                - 5b715612b079875110791432
                status: ACTIVE
            schema:
              "$ref": "#/components/schemas/CreateHolidayRequest"
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                automaticTimeEntryCreation: false
                datePeriod:
                  endDate: '2024-01-01'
                  startDate: '2024-01-01'
                everyoneIncludingNew: false
                id: 5b715612b079875110791111
                name: New Year's Day
                occursAnnually: true
                projectId: 65b36d3c525e243c48f9150f
                taskId: 65b36d46fa3df8607e42d21a
                userGroupIds:
                - 5b715612b079875110791342
                - 5b715612b079875110791324
                - 5b715612b079875110793142
                userIds:
                - 5b715612b079875110791432
                - 5b715612b079875110791234
                workspaceId: 5b715612b079875110792222
              schema:
                "$ref": "#/components/schemas/HolidayDto"
          description: Created holiday.
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - live-success
      - probe-fragment
      - probe-openapi
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - "| POST | api.clockify.me | /api/v1/workspaces/{ws}/holidays | 200 | fixtures/holidays/create.json
        |"
      x-clockify-risk:
      - write
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Addon-Key
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/HOLIDAYSDOC.md
      - clockify-api-probe-lab/findings/holidays.md
      - clockify-api-probe-lab/inveoice+Balance+Policies+TimeOff.yaml
      - clockify-api-probe-lab/openapi-fragments/holidays-b.yaml
      - clockify-api-probe-lab/openapi.yaml
      - realOPENAPI/HOLIDAYSOPEAPI.YAML
      x-fern-sdk-group-name: holidays
      x-fern-sdk-method-name: create
  "/workspaces/{workspaceId}/holidays/in-period":
    get:
      tags:
      - Holidays
      summary: Get holidays in a specific period
      operationId: getWorkspaceHolidaysInPeriod
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - description: |-
          Filter list of holidays assigned to user.
          Required by live Clockify for in-period holiday lookup.
        example: 60f924bafdaf031696ec6218
        in: query
        name: assigned-to
        required: true
        schema:
          type: string
      - description: Filter list of holidays starting from start date. Expected date
          format yyyy-MM-ddThh:mm:ssZ.
        example: '2022-12-03T10:59:59.999Z'
        in: query
        name: start
        required: true
        schema:
          format: date-time
          type: string
      - description: Filter list of holidays ending by end date. Expected date format
          yyyy-MM-ddThh:mm:ssZ.
        example: '2022-12-05T23:59:59.999Z'
        in: query
        name: end
        required: true
        schema:
          format: date-time
          type: string
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
              - automaticTimeEntryCreation: false
                datePeriod:
                  endDate: '2024-01-01'
                  startDate: '2024-01-01'
                everyoneIncludingNew: false
                id: 5b715612b079875110791111
                name: New Year's Day
                occursAnnually: true
                projectId: 65b36d3c525e243c48f9150f
                taskId: 65b36d46fa3df8607e42d21a
                userGroupIds:
                - 5b715612b079875110791342
                - 5b715612b079875110791324
                - 5b715612b079875110793142
                userIds:
                - 5b715612b079875110791432
                - 5b715612b079875110791234
                workspaceId: 5b715612b079875110792222
              schema:
                items:
                  "$ref": "#/components/schemas/HolidayDto"
                type: array
          description: List of holidays in the requested period.
      x-clockify-evidence:
      - aiii-openapi
      - doc-md
      - live-success
      - probe-supplement
      - real-openapi
      x-clockify-host: https://api.clockify.me/api/v1
      x-clockify-live-status: live-success
      x-clockify-mcp-tools: []
      x-clockify-notes:
      - "| GET | api.clockify.me | /api/v1/workspaces/{ws}/holidays/in-period | 200
        | fixtures/holidays/in-period.json |"
      - Live Clockify returns 500 for unknown assigned-to user ids instead of a clean
        4xx.
      x-clockify-risk:
      - read
      x-clockify-security-aliases:
        AddonTokenAuth:
          headers:
          - X-Addon-Key
          schemes:
          - AddonKeyAuth
        ApiKeyAuth:
          headers:
          - X-Api-Key
          schemes:
          - ApiKeyAuth
      x-clockify-source-files:
      - AIII/openapi.yaml
      - clockify-api-probe-lab/HOLIDAYSDOC.md
      - clockify-api-probe-lab/findings/holidays.md
      - clockify-api-probe-lab/inveoice+Balance+Policies+TimeOff.yaml
      - realOPENAPI/HOLIDAYSOPEAPI.YAML
  "/workspaces/{workspaceId}/holidays/{holidayId}":
    put:
      tags:
      - Holidays
      summary: Update a holiday
      operationId: updateHoliday
      security:
      - ApiKeyAuth: []
      - AddonTokenAuth: []
      parameters:
      - in: path
        name: workspaceId
        required: true
        schema:
          type: string
      - in: path
        name: holidayId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              automaticTimeEntryCreation:
                defaultEntities:
                  projectId: 65b36d3c525e243c48f9150f
[...]
