openapi: 3.0.3
info:
  title: Clockify Invoices API
  description: OpenAPI schema for the Clockify Invoices API, covering endpoints for managing invoices, items, settings, imports, payments, and exports.
  version: "1.0.0"
servers:
  - url: https://api.clockify.me/api
security:
  - ApiKeyAuth: []
paths:
  /v1/workspaces/{workspaceId}/invoices:
    get:
      summary: Get all invoices on a workspace
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page-size
          in: query
          schema:
            type: integer
            default: 50
        - name: statuses
          in: query
          schema:
            type: string
            enum: [UNSENT, SENT, PAID, PARTIALLY_PAID, VOID, OVERDUE]
        - name: sort-column
          in: query
          schema:
            type: string
            enum: [ID, CLIENT, DUE_ON, ISSUE_DATE, AMOUNT, BALANCE]
        - name: sort-order
          in: query
          schema:
            type: string
            enum: [ASCENDING, DESCENDING]
      responses:
        "200":
          description: A list of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceShort"
    post:
      summary: Add an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [clientId, currency, dueDate, issuedDate, number]
              properties:
                clientId:
                  type: string
                currency:
                  type: string
                dueDate:
                  type: string
                  format: date-time
                issuedDate:
                  type: string
                  format: date-time
                number:
                  type: string
                timeViewMode:
                  type: string
                  enum: [TIME_SENSITIVE_VIEW, AGGREGATED_TIME_VIEW]
      responses:
        "201":
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
                
  /v1/workspaces/{workspaceId}/invoices/{invoiceId}:
    get:
      summary: Get an invoice by ID
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
    put:
      summary: Update an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currency, discountPercent, dueDate, issuedDate, number, tax2Percent, taxPercent]
              properties:
                clientId:
                  type: string
                companyId:
                  type: string
                currency:
                  type: string
                discountPercent:
                  type: number
                dueDate:
                  type: string
                  format: date-time
                issuedDate:
                  type: string
                  format: date-time
                note:
                  type: string
                number:
                  type: string
                subject:
                  type: string
                tax2Percent:
                  type: number
                taxPercent:
                  type: number
                taxType:
                  type: string
                  enum: [COMPOUND, SIMPLE, NONE]
      responses:
        "200":
          description: Updated invoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
    delete:
      summary: Delete an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invoice deleted

  /v1/workspaces/{workspaceId}/invoices/info:
    post:
      summary: Filter out invoices
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                page:
                  type: integer
                pageSize:
                  type: integer
                sortColumn:
                  type: string
                  enum: [ID, CLIENT, DUE_ON, ISSUE_DATE, AMOUNT, BALANCE]
                sortOrder:
                  type: string
                  enum: [ASCENDING, DESCENDING]
                statuses:
                  type: array
                  items:
                    type: string
                    enum: [UNSENT, SENT, PAID, PARTIALLY_PAID, VOID, OVERDUE]
                strictSearch:
                  type: boolean
                exactAmount:
                  type: integer
                exactBalance:
                  type: integer
                greaterThanAmount:
                  type: integer
                greaterThanBalance:
                  type: integer
                lessThanAmount:
                  type: integer
                lessThanBalance:
                  type: integer
                invoiceNumber:
                  type: string
                issueDate:
                  type: object
                  properties:
                    issue-date-start:
                      type: string
                    issue-date-end:
                      type: string
                clients:
                  type: object
                  properties:
                    contains:
                      type: string
                    ids:
                      type: array
                      items:
                        type: string
                    status:
                      type: string
                companies:
                  type: object
                  properties:
                    contains:
                      type: string
                    ids:
                      type: array
                      items:
                        type: string
      responses:
        "200":
          description: Filtered list of invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  invoices:
                    type: array
                    items:
                      $ref: "#/components/schemas/InvoiceShort"

  /v1/workspaces/{workspaceId}/invoices/settings:
    get:
      summary: Get invoice settings (language/labels)
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invoice settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceSettings"
    put:
      summary: Change invoice language
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceSettings"
      responses:
        "200":
          description: Settings updated
          
  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/items:
    post:
      summary: Add item to an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [applyTaxes, description, itemType, quantity, unitPrice]
              properties:
                applyTaxes:
                  type: string
                  enum: [TAX1, TAX2, TAX1TAX2, NONE]
                description:
                  type: string
                itemType:
                  type: string
                quantity:
                  type: integer
                unitPrice:
                  type: integer
      responses:
        "200":
          description: Item added, updated invoice returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
                
  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/items/{order}:
    delete:
      summary: Delete item from an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
        - name: order
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Item deleted, updated invoice returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"

  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/items/import:
    post:
      summary: Import time entries and expenses to an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from, to, importExpenses, projectFilter, timeEntryGroupType]
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
                importExpenses:
                  type: boolean
                projectFilter:
                  type: object
                  properties:
                    contains:
                      type: string
                    ids:
                      type: array
                      items:
                        type: string
                    status:
                      type: string
                timeEntryGroupType:
                  type: string
                  enum: [SINGLE_ITEM, GROUPED, DETAILED]
                timeEntryPrimaryGroupBy:
                  type: string
                  enum: [USER, PROJECT, DATE]
                timeEntrySecondaryGroupBy:
                  type: string
                  enum: [PROJECT, USER, TASK, DATE, DESCRIPTION, NONE]
                roundTimeEntryDuration:
                  type: boolean
                expenseFieldsForDetailedGroup:
                  type: array
                  items:
                    type: string
                expensesGroupBy:
                  type: string
                expensesGroupType:
                  type: string
                timeEntryFieldsForDetailedGroup:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Items imported
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"

  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/duplicate:
    post:
      summary: Duplicate an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Invoice duplicated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"

  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/export:
    get:
      summary: Export an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
        - name: userLocale
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invoice file content (PDF bytes)
          content:
            application/pdf:
              schema:
                type: string
                format: binary

  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/payments:
    get:
      summary: Get payments for an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: page-size
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: List of payments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Payment"
    post:
      summary: Add payment to an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, paymentDate]
              properties:
                amount:
                  type: integer
                note:
                  type: string
                paymentDate:
                  type: string
                  format: date-time
      responses:
        "201":
          description: Payment added, updated invoice returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"

  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/payments/{paymentId}:
    delete:
      summary: Delete payment from an invoice
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment deleted, updated invoice returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"

  /v1/workspaces/{workspaceId}/invoices/{invoiceId}/status:
    patch:
      summary: Change an invoice status
      parameters:
        - name: workspaceId
          in: path
          required: true
          schema:
            type: string
        - name: invoiceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoiceStatus]
              properties:
                invoiceStatus:
                  type: string
                  enum: [UNSENT, SENT, PAID, PARTIALLY_PAID, VOID, OVERDUE]
      responses:
        "200":
          description: Status changed successfully

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key

  schemas:
    InvoiceShort:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        status:
          type: string
        issuedDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        clientId:
          type: string
        clientName:
          type: string
        amount:
          type: integer
        paid:
          type: integer
          nullable: true
        balance:
          type: integer
        currency:
          type: string

    Invoice:
      type: object
      properties:
        id:
          type: string
        number:
          type: string
        status:
          type: string
        issuedDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        calculationType:
          type: string
          enum: [INVOICE_BASED, ITEM_BASED]
        subtotal:
          type: integer
        discount:
          type: number
        tax:
          type: number
        tax2:
          type: number
        taxType:
          type: string
          enum: [COMPOUND, SIMPLE, NONE]
        discountAmount:
          type: integer
        taxAmount:
          type: integer
        tax2Amount:
          type: integer
        amount:
          type: integer
        paid:
          type: integer
          nullable: true
        balance:
          type: integer
        currency:
          type: string
        subject:
          type: string
        note:
          type: string
        clientId:
          type: string
        clientName:
          type: string
          nullable: true
        clientAddress:
          type: string
          nullable: true
        userId:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceItem"
        visibleZeroFields:
          type: array
          items:
            type: string
        companyId:
          type: string
          nullable: true
        containsImportedTimes:
          type: boolean
        containsImportedExpenses:
          type: boolean
        billFrom:
          type: string
          nullable: true

    InvoiceItem:
      type: object
      properties:
        order:
          type: integer
        description:
          type: string
        quantity:
          type: integer
        unitPrice:
          type: integer
        amount:
          type: integer
        itemType:
          type: string
        importType:
          type: string
          enum: [NOT_IMPORTED, TIME_ENTRY_IMPORT, EXPENSE_IMPORT]
        timeEntryIds:
          type: array
          items:
            type: string
        expenseIds:
          type: array
          items:
            type: string
        applyTaxes:
          type: string
          enum: [TAX1, TAX2, TAX1TAX2, NONE]

    InvoiceSettings:
      type: object
      properties:
        defaults:
          type: object
          properties:
            tax:
              type: integer
            tax2:
              type: integer
            taxPercent:
              type: number
            tax2Percent:
              type: number
            subject:
              type: string
            notes:
              type: string
            taxType:
              type: string
              enum: [COMPOUND, SIMPLE, NONE]
            dueDays:
              type: integer
            defaultImportExpenseItemTypeId:
              type: string
            defaultImportTimeItemTypeId:
              type: string
            companyId:
              type: string
            itemTypeId:
              type: string
        exportFields:
          type: object
          properties:
            quantity:
              type: boolean
            unitPrice:
              type: boolean
            itemType:
              type: boolean
            tax:
              type: boolean
            tax2:
              type: boolean
            rtl:
              type: boolean
        labels:
          type: object
          properties:
            issueDate:
              type: string
            dueDate:
              type: string
            billFrom:
              type: string
            billTo:
              type: string
            description:
              type: string
            quantity:
              type: string
            unitPrice:
              type: string
            amount:
              type: string
            subtotal:
              type: string
            discount:
              type: string
            tax:
              type: string
            tax2:
              type: string
            total:
              type: string
            paid:
              type: string
            totalAmountDue:
              type: string
            notes:
              type: string
            itemType:
              type: string

    Payment:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
        date:
          type: string
          format: date-time
        note:
          type: string
        author:
          type: string
