openapi: 3.0.3
info:
  title: Clockify Unified OpenAPI
  description: |
    Adversarially reconciled from three sources: official Clockify OpenAPI,
    GOCLMCP generated OpenAPI, and live probes against the sacrificial workspace.
    Only LIVE-VERIFIED or LIVE-OVERRIDE entries have receipts. Trust nothing else.

    PATH-PREFIX NOTE: The official spec embeds /v1/ in every path (no server URL defined).
    Our spec uses https://api.clockify.me/api/v1 as base with paths without /v1/ prefix.
    Both resolve to identical full URLs. All paths here use the non-prefixed form (our style).

    HOST NOTE: Clockify splits its API across multiple subdomains. The default `main`
    server (api.clockify.me/api/v1) hosts most resources. The shared-reports family
    lives on a separate `reports` server (reports.api.clockify.me/v1) — see per-path
    `servers:` overrides below. Subdomains like time-off.api.clockify.me and
    invoice.api.clockify.me return the SPA HTML (not API) and are NOT API hosts.
  version: '2026-05-21'
  license:
    name: Clockify Terms of Service
    url: https://clockify.me/terms

servers:
- url: https://api.clockify.me/api/v1
  description: Main Clockify REST API host (default for all paths unless overridden)
- url: https://reports.api.clockify.me/v1
  description: Reports/shared-reports API host (used by /shared-reports* via per-path override)

paths:
  /user:
    get:
      summary: Get currently logged-in user's info
      operationId: getUser
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-204725-get.user-happy-path.json
      - PROBE-LOG/20260520-204725-get.user-wrong-type.json
      - PROBE-LOG/20260520-204725-get.user-memberships-true.json
      x-reconciled-at: "20260520-204725"
      parameters:
      - name: include-memberships
        in: query
        required: false
        schema:
          type: boolean
        description: When true, populates memberships array (PROJECT/WORKSPACE/USERGROUP types). Default omits
          memberships.
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  email:
                    type: string
                  name:
                    type: string
                  activeWorkspace:
                    type: string
                  defaultWorkspace:
                    type: string
                  status:
                    type: string
                    enum: [ACTIVE, INACTIVE]
                  profilePicture:
                    type: string
                  customFields:
                    type: array
                    items:
                      type: object
                  memberships:
                    type: array
                    description: Empty unless include-memberships=true
                    items:
                      type: object
                      properties:
                        membershipType:
                          type: string
                          enum: [PROJECT, WORKSPACE, USERGROUP]
                        membershipStatus:
                          type: string
                        targetId:
                          type: string
                        userId:
                          type: string
                        hourlyRate:
                          type: object
                          nullable: true
                        costRate:
                          type: object
                          nullable: true
                  settings:
                    type: object
        '400':
          description: Invalid query parameter type (Spring MVC validation - includes Java type names in error message)

  /workspaces/{workspaceId}:
    get:
      summary: Get workspace by ID
      operationId: getWorkspace
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-204725-get.workspaces-happy-path.json
      x-reconciled-at: "20260520-204725"
      x-notes: "cakeOrganizationId and featureSubscriptionType are internal Clockify fields not in official spec."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Workspace object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  cakeOrganizationId:
                    type: string
                    description: Internal Clockify org ID (not in official spec)
                  featureSubscriptionType:
                    type: string
                    description: Internal subscription tier (e.g. BUNDLE_YEAR_2024)
                  features:
                    type: array
                    items:
                      type: string
                  currencies:
                    type: array
                    items:
                      type: object
                  hourlyRate:
                    type: object
                  costRate:
                    type: object
                  memberships:
                    type: array
                    items:
                      type: object
                  workspaceSettings:
                    type: object
                  subdomain:
                    type: object
                  imageUrl:
                    type: string
    put:
      operationId: updateWorkspace
      summary: Update workspace (PHANTOM — PUT not bound on api.clockify.me)
      x-verification-status: LIVE-OVERRIDE
      x-evidence:
      - PROBE-LOG/20260521-040000-put.workspaces-code-analysis.json
      x-notes: |
        PUT /workspaces/{workspaceId} returns 405 'Request method PUT is not supported'
        (error code 3000). Official spec documents only GET at this path. Our spec
        documents PUT but explicitly marks it as NOT BOUND on api.clockify.me with 405
        live evidence. MCP clockify_workspace_settings uses GET only. Phantom endpoint.
      x-truth-iter: iter20
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '405':
          description: PUT method not supported (405 from live) — path is absent or not registered for PUT on
            api.clockify.me


  /workspaces/{workspaceId}/clients:
    get:
      summary: List clients in workspace
      operationId: getClients
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-204725-get.workspaces.clients-happy-path.json
      - PROBE-LOG/20260520-204725-get.workspaces.clients-empty-list.json
      - PROBE-LOG/20260520-204725-get.workspaces.clients-pagination.json
      x-reconciled-at: "20260520-204725"
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: Filter by name (substring or exact match)
      - name: sort-column
        in: query
        required: false
        schema:
          type: string
      - name: sort-order
        in: query
        required: false
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
        description: Clockify accepts up to 200. Hyphenated param name (page-size not pageSize).
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of client objects (bare array, not wrapped object)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    workspaceId:
                      type: string
                    archived:
                      type: boolean
                    address:
                      type: string
                      nullable: true
                    email:
                      type: string
                      nullable: true
                    note:
                      type: string
                      nullable: true
                    ccEmails:
                      nullable: true
                      type: array
                      items:
                        type: string
                    currencyCode:
                      type: string
                    currencyId:
                      type: string
          x-empty-shape: "[] (bare array, not {items:[]})"


    post:
      operationId: createClient
      summary: Create a client in the workspace
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-020000-post.workspaces.clients-happy-path.json
      x-notes: |
        Client created (id <redacted-id:1daad9ff7a>) and immediately deleted.
        Response shape: id, name, currencyCode, currencyId, workspaceId.
      x-truth-iter: iter18
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Client created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  currencyCode:
                    type: string
                  currencyId:
                    type: string
                  workspaceId:
                    type: string
  /workspaces/{workspaceId}/addons/{addonId}/webhooks:
    get:
      summary: Get webhooks for addon on workspace
      operationId: getAddonWebhooks
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-204725-get.workspaces.addons.webhooks-happy-path.json
      - PROBE-LOG/20260520-204725-get.workspaces.addons.webhooks-wrong-type.json
      x-reconciled-at: "20260520-204725"
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: addonId
        in: path
        required: true
        schema:
          type: string
          pattern: '^[0-9a-f]{24}$'
        description: Must be 24-char hex MongoDB ObjectId. Server returns 400 with "hexString has 24 characters" if
          invalid.
      responses:
        '200':
          description: Webhooks object (NOT an array)
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      type: object
                  workspaceWebhookCount:
                    type: integer
                    description: Total workspace webhook count
          x-empty-shape: "{webhooks:[], workspaceWebhookCount:0} when no webhooks (not 404)"
        '400':
          description: addonId is not a valid 24-char hex MongoDB ObjectId

  /shared-reports/{id}:
    servers:
    - url: https://reports.api.clockify.me/v1
      description: Reports host (does NOT use the main api.clockify.me host)
    get:
      summary: Get shared report by ID
      operationId: getSharedReport
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-204725-get.shared-reports-fence-blocked.json
      - PROBE-LOG/20260521-021234-get.shared-reports-by-id-reports-host.json
      - PROBE-LOG/20260521T023021Z-codex-shared-reports-get-by-id-reports-host.json
      - PROBE-LOG/20260521T023021Z-codex-shared-reports-get-workspace-scoped-405.json
      x-truth-iter: iter24-post-completion
      x-notes: |
        Promoted from UNRESOLVED-NO-LIVE after direct curl confirmed the route on
        the reports.api.clockify.me host (the path is absent on api.clockify.me —
        Sonnet's iter4 probe was on the wrong host). Path is NOT workspace-scoped.
        Response shape varies by report type and exportType; SUMMARY+JSON returns
        {totals, donutChart, groupTotals, groupOne, filters{...full report meta}}.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: exportType
        in: query
        required: false
        schema:
          type: string
          enum: [JSON, CSV, PDF, XLSX]
      - name: dateRangeStart
        in: query
        required: false
        schema: {type: string, format: date-time}
      - name: dateRangeEnd
        in: query
        required: false
        schema: {type: string, format: date-time}
      - name: page
        in: query
        required: false
        schema: {type: integer, default: 1}
      - name: pageSize
        in: query
        required: false
        schema: {type: integer, default: 20}
      - name: sortOrder
        in: query
        required: false
        schema: {type: string, enum: [ASCENDING, DESCENDING]}
      - name: sortColumn
        in: query
        required: false
        schema: {type: string}
      responses:
        '400':
          description: Bad Request
        '200':
          description: Shared report data (shape depends on report type + exportType)
          content:
            application/json:
              schema:
                type: object
                properties:
                  totals:
                    type: array
                    items: {type: object}
                  donutChart:
                    type: array
                    items: {type: object}
                  groupTotals:
                    type: object
                  groupOne:
                    type: array
                    items: {type: object}
                  filters:
                    type: object
                    description: Full saved report metadata (id, name, workspaceId, type, filter, etc.)

  /workspaces/{workspaceId}/approval-requests:
    get:
      summary: List approval requests for workspace
      operationId: getApprovalRequests
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-210956-get.workspaces.approval-requests-happy-path.json
      x-reconciled-at: "20260520-210956"
      x-notes: "Response is a bare array of rich approval-period objects. Each item contains approvalRequest metadata PLUS
        inline entries and expenses arrays (heavy payload). time values are ISO 8601 duration strings. money in minor units."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of approval-period objects (bare array)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    approvalRequest:
                      type: object
                      properties:
                        creator:
                          type: object
                          properties:
                            userEmail:
                              type: string
                            userId:
                              type: string
                            userName:
                              type: string
                        dateRange:
                          type: object
                          properties:
                            end:
                              type: string
                            start:
                              type: string
                        id:
                          type: string
                        owner:
                          type: object
                          properties:
                            startOfWeek:
                              type: string
                            timeZone:
                              type: string
                            userId:
                              type: string
                            userName:
                              type: string
                        status:
                          type: object
                          properties:
                            note:
                              type: string
                            state:
                              type: string
                              enum: [PENDING, APPROVED, WITHDRAWN_APPROVAL]
                            updatedAt:
                              type: string
                            updatedBy:
                              type: string
                            updatedByUserName:
                              type: string
                        workspaceId:
                          type: string
                    approvedTime:
                      type: string
                      description: ISO 8601 duration
                    billableAmount:
                      type: integer
                      description: Minor units (cents)
                    billableTime:
                      type: string
                      description: ISO 8601 duration
                    breakTime:
                      type: string
                      description: ISO 8601 duration
                    costAmount:
                      type: number
                    entries:
                      type: array
                      description: Full time entry objects (heavy)
                      items:
                        type: object
                    expenseTotal:
                      type: integer
                      description: Minor units (cents)
                    expenses:
                      type: array
                      items:
                        type: object
                    pendingTime:
                      type: string
                      description: ISO 8601 duration
                    trackedTime:
                      type: string
                      description: ISO 8601 duration

    post:
      operationId: post.workspaces.approval-requests
      summary: Submit timesheet entries for approval
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-010000-post.workspaces.approval-requests-dry-run.json
      x-notes: "LIVE-VERIFIED: clockify_approvals_submit uses POST /workspaces/{wId}/approval-requests via postApprovalPeriod()
        in approvals.go:167. dry_run probe returned ok:true. GET on this path returns 200 (list endpoint). Both specs agree.
        Note: GET on this path returns a list of approval requests."
      x-truth-iter: iter17
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                period:
                  type: string
                  description: Approval period type (e.g. WEEKLY)
                periodStart:
                  type: string
                  description: Start of the period (RFC3339)
      responses:
        '400':
          description: Bad Request
        "200":
          description: Approval request submitted
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
  /workspaces/{workspaceId}/custom-fields:
    get:
      summary: List custom fields for workspace
      operationId: getCustomFields
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-210956-get.workspaces.custom-fields-happy-path.json
      x-reconciled-at: "20260520-210956"
      x-notes: "Server ignores page-size — returns all items regardless. Official spec documents name/status/entity-type filter
        params not confirmed live. Our spec missing filter params."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: Filter by name (from official spec; not live-verified)
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum: [ACTIVE, INACTIVE, VISIBLE]
        description: Filter by status (from official spec; not live-verified)
      - name: entity-type
        in: query
        required: false
        schema:
          type: string
        description: Filter by entity type (from official spec; not live-verified)
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of custom field objects (bare array; page-size ignored — all returned)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    allowedValues:
                      type: array
                      items:
                        type: string
                      description: Non-empty for DROPDOWN_SINGLE type
                    description:
                      type: string
                      nullable: true
                    entityType:
                      type: string
                      enum: [TIMEENTRY]
                    id:
                      type: string
                    name:
                      type: string
                    onlyAdminCanEdit:
                      type: boolean
                    placeholder:
                      type: string
                    projectDefaultValues:
                      type: array
                      items:
                        type: object
                        properties:
                          projectId:
                            type: string
                          status:
                            type: string
                          value:
                            nullable: true
                            type: string
                    required:
                      type: boolean
                    status:
                      type: string
                      enum: [ACTIVE, INACTIVE, VISIBLE]
                    type:
                      type: string
                      enum: [TXT, NUMBER, DROPDOWN_SINGLE, CHECKBOX]
                    workspaceDefaultValue:
                      nullable: true
                      type: string
                    workspaceId:
                      type: string


    post:
      operationId: createCustomField
      summary: Create a custom field in the workspace
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-020000-post.workspaces.custom-fields-happy-path.json
      x-notes: |
        TXT field created (id <redacted-id:1a8c9d0b44>) and deleted. entityType defaults to
        TIMEENTRY. status defaults to VISIBLE. allowedValues is empty for TXT type.
      x-truth-iter: iter18
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - field_type
              properties:
                name:
                  type: string
                field_type:
                  type: string
                  enum: [TXT, NUMBER, DROPDOWN_SINGLE, DROPDOWN_MULTIPLE, CHECKBOX, LINK]
                required:
                  type: boolean
                status:
                  type: string
                  enum: [VISIBLE, INVISIBLE, INACTIVE]
                  default: VISIBLE
      responses:
        '400':
          description: Bad Request
        '200':
          description: Custom field created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  type:
                    type: string
                  entityType:
                    type: string
                    description: Defaults to TIMEENTRY
                  status:
                    type: string
                  allowedValues:
                    type: array
                    items:
                      type: string
                  workspaceId:
                    type: string
  /workspaces/{workspaceId}/holidays:
    get:
      summary: List holidays for workspace
      operationId: getHolidays
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-210956-get.workspaces.holidays-happy-path.json
      x-reconciled-at: "20260520-210956"
      x-notes: "Server ignores page-size — returns all items. Date fields use YYYY-MM-DD strings (not ISO 8601 datetime).
        userGroupIds array can be very large (100+)."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of holiday objects (bare array; pagination appears unsupported)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    automaticTimeEntryCreation:
                      type: boolean
                    datePeriod:
                      type: object
                      properties:
                        endDate:
                          type: string
                          description: "YYYY-MM-DD format (not ISO 8601)"
                        startDate:
                          type: string
                          description: "YYYY-MM-DD format (not ISO 8601)"
                    everyoneIncludingNew:
                      type: boolean
                    id:
                      type: string
                    name:
                      type: string
                    occursAnnually:
                      type: boolean
                    projectId:
                      type: string
                      nullable: true
                    taskId:
                      type: string
                      nullable: true
                    userGroupIds:
                      type: array
                      items:
                        type: string
                    userIds:
                      type: array
                      items:
                        type: string
                    workspaceId:
                      type: string


    post:
      operationId: createHoliday
      summary: Create a new holiday in the workspace
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-020000-post.workspaces.holidays-happy-path.json
      x-notes: |
        Actual create + delete. dry_run not supported. Response has date_period:{start_date,end_date}
        object shape. Requires name + start_date.
      x-truth-iter: iter18
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - start_date
              properties:
                name:
                  type: string
                start_date:
                  type: string
                end_date:
                  type: string
                occurs_annually:
                  type: boolean
                user_ids:
                  type: array
                  items:
                    type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Holiday created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  workspaceId:
                    type: string
                  date_period:
                    type: object
                    properties:
                      start_date:
                        type: string
                      end_date:
                        type: string
                  occursAnnually:
                    type: boolean
  /workspaces/{workspaceId}/expenses:
    get:
      summary: List expenses for workspace
      operationId: getExpenses
      x-verification-status: LIVE-OVERRIDE
      x-evidence:
      - PROBE-LOG/20260520-210956-get.workspaces.expenses-happy-path.json
      x-reconciled-at: "20260520-210956"
      x-notes: "CRITICAL: response is NOT a bare array. It is {dailyTotals, expenses:{count, expenses:[]}, weeklyTotals}.
        Both specs likely wrong. List items use nested category/project/task objects. Pagination via page/page-size works."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '400':
          description: Bad Request
        '200':
          description: Expense list wrapper object (NOT a bare array)
          content:
            application/json:
              schema:
                type: object
                properties:
                  dailyTotals:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          description: "YYYY-MM-DD"
                        dateAsInstant:
                          type: string
                        total:
                          type: integer
                          description: Minor units (cents)
                  expenses:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Total expense count
                      expenses:
                        type: array
                        items:
                          type: object
                          properties:
                            billable:
                              type: boolean
                            category:
                              type: object
                              properties:
                                archived:
                                  type: boolean
                                hasUnitPrice:
                                  type: boolean
                                id:
                                  type: string
                                name:
                                  type: string
                                priceInCents:
                                  type: integer
                                unit:
                                  type: string
                                workspaceId:
                                  type: string
                            date:
                              type: string
                            fileId:
                              type: string
                            fileName:
                              type: string
                              nullable: true
                            id:
                              type: string
                            locked:
                              type: boolean
                            notes:
                              type: string
                            project:
                              type: object
                              nullable: true
                            quantity:
                              type: number
                            task:
                              type: object
                              nullable: true
                            total:
                              type: integer
                              description: Minor units (cents)
                            userId:
                              type: string
                            workspaceId:
                              type: string
                  weeklyTotals:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          description: "YYYY-MM-DD start of week"
                        total:
                          type: integer
                          description: Minor units (cents)
          x-live-override-reason: "Both specs document this as a simple array. Live returns {dailyTotals, expenses:{count,
            expenses:[]}, weeklyTotals}. Spec losers: both."


    post:
      operationId: createExpense
      summary: Create an expense in the workspace
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-020000-post.workspaces.expenses-dry-run.json
      x-notes: |
        dry_run confirmed payload. amount coerced to string upstream. categoryId required.
        project_id optional. userId defaults to caller.
      x-truth-iter: iter18
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - date
              - category_id
              properties:
                amount:
                  type: number
                date:
                  type: string
                  format: date-time
                category_id:
                  type: string
                project_id:
                  type: string
                user_id:
                  type: string
                billable:
                  type: boolean
                notes:
                  type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Expense created
  /workspaces/{workspaceId}/expenses/{expenseId}:
    get:
      summary: Get single expense by ID
      operationId: getExpense
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-210956-get.workspaces.expenses-single-item.json
      x-reconciled-at: "20260520-210956"
      x-notes: "Shape differs from list: uses flat categoryId/projectId/taskId references instead of nested objects. fileId
        is empty string (not null) when absent."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: expenseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Single expense object (flat shape — different from list items)
          content:
            application/json:
              schema:
                type: object
                properties:
                  billable:
                    type: boolean
                  categoryId:
                    type: string
                    description: "Flat reference — list items use nested category object"
                  date:
                    type: string
                  fileId:
                    type: string
                    description: "Empty string (not null) when no file attached"
                  id:
                    type: string
                  locked:
                    type: boolean
                  notes:
                    type: string
                  projectId:
                    type: string
                    nullable: true
                  quantity:
                    type: number
                  taskId:
                    type: string
                    nullable: true
                  total:
                    type: integer
                    description: Minor units (cents)
                  userId:
                    type: string
                  workspaceId:
                    type: string

    delete:
      operationId: delete.workspaces.expenses
      summary: Permanently delete an expense
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-001500-delete.workspaces.expenses-happy-path.json
      x-notes: "Successfully deleted test expense. Path: /workspaces/{wId}/expenses/{expenseId}. Both specs document this
        endpoint."
      x-truth-iter: iter11
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: expenseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        "200":
          description: Expense deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  expenseId:
                    type: string
                  deleted:
                    type: boolean
    put:
      operationId: updateExpense
      summary: Update an expense by ID
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-040000-put.workspaces.expenses-happy-path.json
      x-notes: |
        clockify_expenses_update PUT returned 200. Expense updated with original values
        then restored (quantity=75, total=112500 cents). GET /expenses/{expenseId} returns 200.
        Both specs agree. MCP uses multipart form with change_fields enumeration for partial
        update semantics. Clockify requires AMOUNT in change_fields for unit-priced categories.
        Response includes enriched shape: amount.{amount_cents,amount_decimal,currency,display},
        entities.{client,project,task,user}, approval, invoicing, receipt, tax blocks.
      x-truth-iter: iter20
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: expenseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              description: Expense update payload with change_fields enumeration
      responses:
        '400':
          description: Bad Request
        '200':
          description: Updated expense object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  billable:
                    type: boolean
                  categoryId:
                    type: string
                  currency:
                    type: string
                  date:
                    type: string
                  locked:
                    type: boolean
                  notes:
                    type: string
                  quantity:
                    type: number
                  total:
                    type: integer
                    description: Total in minor currency units (cents)
                  userId:
                    type: string
                  workspaceId:
                    type: string


  /workspaces/{workspaceId}/invoices:
    get:
      summary: List invoices for workspace
      operationId: getInvoices
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-210956-get.workspaces.invoices-happy-path.json
      x-reconciled-at: "20260520-210956"
      x-notes: "Response is {invoices:[], total:N} object, not a bare array. total is authoritative count. List items are
        lightweight — single item is much richer."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '400':
          description: Bad Request
        '200':
          description: Invoice list wrapper object {invoices:[], total:N}
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: integer
                          description: Minor units (cents)
                        balance:
                          type: integer
                          description: Minor units (cents)
                        clientId:
                          type: string
                        clientName:
                          type: string
                        currency:
                          type: string
                        dueDate:
                          type: string
                        id:
                          type: string
                        issuedDate:
                          type: string
                        number:
                          type: string
                          description: Invoice number as string
                        paid:
                          nullable: true
                          type: boolean
                        status:
                          type: string
                          enum: [DRAFT, SENT, UNSENT, OVERDUE, PAID, VOID]
                  total:
                    type: integer
                    description: Authoritative total count


    post:
      operationId: createInvoice
      summary: Create a new invoice
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-020000-post.workspaces.invoices-dry-run.json
      x-notes: |
        dry_run ok:true. Upstream camelCase field names. Default status=UNSENT. Required:
        clientId, number, issuedDate, currency, dueDate.
      x-truth-iter: iter18
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - clientId
              - number
              - issuedDate
              - currency
              - dueDate
              properties:
                clientId:
                  type: string
                number:
                  type: string
                issuedDate:
                  type: string
                  format: date-time
                dueDate:
                  type: string
                  format: date-time
                currency:
                  type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Invoice created; default status UNSENT
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  number:
                    type: string
                  status:
                    type: string
                    enum: [UNSENT, SENT, PAID, PARTIALLY_PAID, VOID, OVERDUE]
                  clientId:
                    type: string
                  issuedDate:
                    type: string
                  dueDate:
                    type: string
                  currency:
                    type: string
  /workspaces/{workspaceId}/invoices/{invoiceId}:
    get:
      summary: Get single invoice by ID
      operationId: getInvoice
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-210956-get.workspaces.invoices-single-item.json
      x-reconciled-at: "20260520-210956"
      x-notes: "Much richer than list item. Adds: items array (line items), tax breakdown (tax/tax2/taxAmount/tax2Amount/taxType),
        discount, billing metadata (billFrom, calculationType, companyId, clientAddress, subject, note), containsImportedExpenses/Times,
        visibleZeroFields."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: invoiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Full invoice object (richer than list summary)
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    type: integer
                  balance:
                    type: integer
                  billFrom:
                    type: string
                    enum: [WORKSPACE]
                  calculationType:
                    type: string
                    enum: [ITEM_BASED]
                  clientAddress:
                    type: string
                  clientId:
                    type: string
                  clientName:
                    type: string
                  companyId:
                    type: string
                  containsImportedExpenses:
                    type: boolean
                  containsImportedTimes:
                    type: boolean
                  currency:
                    type: string
                  discount:
                    type: number
                  discountAmount:
                    type: integer
                  dueDate:
                    type: string
                  id:
                    type: string
                  issuedDate:
                    type: string
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: integer
                        applyTaxes:
                          type: string
                          enum: [TAX1, TAX2, TAX1_AND_TAX2, NONE]
                        description:
                          type: string
                        expenseIds:
                          type: array
                          items:
                            type: object
                        importType:
                          type: string
                        itemType:
                          type: string
                        order:
                          type: integer
                        quantity:
                          type: number
                        timeEntryIds:
                          type: array
                          items:
                            type: object
                        unitPrice:
                          type: integer
                  note:
                    type: string
                  number:
                    type: string
                  paid:
                    nullable: true
                    type: boolean
                  status:
                    type: string
                  subject:
                    type: string
                  subtotal:
                    type: integer
                  tax:
                    type: integer
                  tax2:
                    type: integer
                  tax2Amount:
                    type: integer
                  taxAmount:
                    type: integer
                  taxType:
                    type: string
                    enum: [SIMPLE, COMPOUND]
                  userId:
                    type: string
                  visibleZeroFields:
                    type: array
                    items:
                      type: string

    delete:
      operationId: delete.workspaces.invoices
      summary: Permanently delete an invoice
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-002300-delete.workspaces.invoices-happy-path.json
      x-notes: "Created test invoice MCP-RECON-001 then deleted it. Fake ID returns 'invoice not found in this workspace'
        (endpoint exists). Both specs document this endpoint."
      x-truth-iter: iter12
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: invoiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        "200":
          description: Invoice deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  invoiceId:
                    type: string
    put:
      operationId: updateInvoice
      summary: Update an existing invoice
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-040000-put.workspaces.invoices-dry-run.json
      x-notes: |
        clockify_invoices_update with dry_run=true returned ok:true. No changes made.
        GET /invoices/{invoiceId} also returns 200 confirming path is live.
        Both specs agree this path exists. Invoice used for probe: id=<redacted-id:8491414151>
        (number=12, OVERDUE, AUD).
      x-truth-iter: iter20
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: invoiceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Invoice update payload (same fields as create)
      responses:
        '400':
          description: Bad Request
        '200':
          description: Updated invoice object


  /workspaces/{workspaceId}/projects:
    get:
      summary: List projects in workspace
      operationId: getProjects
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.projects-happy-path.json
      x-reconciled-at: "20260520-212439"
      x-notes: "Bare array response. page-size respected (unlike custom-fields/holidays/webhooks). No shape difference between
        list items and single GET."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of project objects (bare array)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    archived:
                      type: boolean
                    billable:
                      type: boolean
                    budgetEstimate:
                      nullable: true
                      type: object
                    clientId:
                      type: string
                    clientName:
                      type: string
                    color:
                      type: string
                    costRate:
                      nullable: true
                      type: object
                    duration:
                      type: string
                      description: ISO 8601 duration
                    estimate:
                      type: object
                      properties:
                        estimate:
                          type: string
                          description: ISO 8601 duration
                        type:
                          type: string
                          enum: [AUTO, MANUAL]
                    estimateReset:
                      nullable: true
                      type: string
                    hourlyRate:
                      type: object
                      properties:
                        amount:
                          type: integer
                        currency:
                          type: string
                    id:
                      type: string
                    memberships:
                      type: array
                      items:
                        type: object
                        properties:
                          costRate:
                            nullable: true
                            type: object
                          hourlyRate:
                            nullable: true
                            type: object
                          membershipStatus:
                            type: string
                            enum: [ACTIVE, INACTIVE, PENDING]
                          membershipType:
                            type: string
                            enum: [PROJECT, WORKSPACE, USERGROUP]
                          targetId:
                            type: string
                          userId:
                            type: string
                    name:
                      type: string
                    note:
                      type: string
                    public:
                      type: boolean
                    template:
                      type: boolean
                    timeEstimate:
                      type: object
                      properties:
                        active:
                          type: boolean
                        estimate:
                          type: string
                          description: ISO 8601 duration
                        includeNonBillable:
                          type: boolean
                        resetOption:
                          nullable: true
                          type: string
                        type:
                          type: string
                          enum: [AUTO, MANUAL]
                    workspaceId:
                      type: string


    post:
      operationId: createProject
      summary: Create a project in the workspace
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-020000-post.workspaces.projects-happy-path.json
      x-notes: |
        Returns single project object. Creator auto-added as ACTIVE PROJECT member.
        Default billable=true, hourlyRate={amount:0,currency:USD}. clientId absent (not null)
        when no client assigned. Test project created, archived, then deleted.
      x-truth-iter: iter18
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                color:
                  type: string
                isPublic:
                  type: boolean
                billable:
                  type: boolean
                clientId:
                  type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Created project object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  color:
                    type: string
                  archived:
                    type: boolean
                  billable:
                    type: boolean
                  memberships:
                    type: array
                    items:
                      type: object
                  workspaceId:
                    type: string
  /workspaces/{workspaceId}/projects/{projectId}:
    get:
      summary: Get single project by ID
      operationId: getProject
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.projects-single-item.json
      x-reconciled-at: "20260520-212439"
      x-notes: "Shape identical to list items — no extra fields added for single GET."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Project object (same shape as list items)
          content:
            application/json:
              schema:
                type: object

    delete:
      operationId: delete.workspaces.projects
      summary: Delete a workspace project
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-003100-delete.workspaces.projects-happy-path.json
      x-notes: "Created test project MCP-LIVE-RECON-iter13, deleted it. Response {deleted:true, projectId:string}. Fake ID
        returns project not found (endpoint exists). Both specs document this."
      x-truth-iter: iter13
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        "200":
          description: Project deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  projectId:
                    type: string
    put:
      operationId: updateProject
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-050000-put.workspaces.projects-happy-path.json
      x-notes: |
        Full-replacement PUT. Required body field name. Optional archived, billable,
        isPublic, clientId, color, note, costRate, hourlyRate, estimate, budgetEstimate,
        estimateReset, timeEstimate, memberships, tasks. Tool does GET-then-PUT merge
        to preserve unspecified fields. Archival via archived:true in body -- no /archive
        sub-path exists on live Clockify.
      x-truth-iter: iter21
      parameters:
      - {name: workspaceId, in: path, required: true, schema: {type: string}}
      - {name: projectId, in: path, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: {type: string, maxLength: 150}
                archived: {type: boolean}
                billable: {type: boolean}
                isPublic: {type: boolean}
                clientId: {type: string}
                color: {type: string}
                note: {type: string}
                costRate: {type: object}
                hourlyRate: {type: object}
                estimate: {type: object}
      responses:
        '400':
          description: Bad Request
        '200':
          description: Updated project object

      summary: Update project
  /workspaces/{workspaceId}/tags:
    get:
      summary: List tags in workspace
      operationId: getTags
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.tags-happy-path.json
      x-reconciled-at: "20260520-212439"
      x-notes: "Bare array. page-size respected. Simplest Clockify list shape — only 4 fields."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of tag objects (bare array)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    archived:
                      type: boolean
                    id:
                      type: string
                    name:
                      type: string
                    workspaceId:
                      type: string
    post:
      operationId: createTag
      summary: Create a tag in the workspace
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-030000-post.workspaces.tags-happy-path.json
      x-notes: |
        clockify_tags_create successfully POSTed to /workspaces/{wId}/tags and received
        a 200 with a created tag object (id, name, archived, workspaceId). Tag
        id=<redacted-id:c535206509> was immediately cleaned up via clockify_tags_delete.
        No dry_run available for create; actual create performed.
      x-truth-iter: iter19
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  maxLength: 100
      responses:
        '400':
          description: Bad Request
        '200':
          description: Tag created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  archived:
                    type: boolean
                  workspaceId:
                    type: string


  /workspaces/{workspaceId}/tags/{tagId}:
    get:
      summary: Get single tag by ID
      operationId: getTag
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.tags-single-item.json
      x-reconciled-at: "20260520-212439"
      x-notes: "4-key shape identical to list items."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: tagId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Tag object
          content:
            application/json:
              schema:
                type: object
                properties:
                  archived:
                    type: boolean
                  id:
                    type: string
                  name:
                    type: string
                  workspaceId:
                    type: string

    delete:
      operationId: delete.workspaces.tags
      summary: Delete a tag
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-232433-delete.workspaces.tags-happy-path.json
      x-notes: "Created tag MCP-LIVE-RECON-20260520-232433-tag, deleted it. Response {deleted:true, tagId:string}. Both specs
        document this."
      x-truth-iter: iter14
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: tagId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        "200":
          description: Delete a tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  tagId:
                    type: string
    put:
      operationId: updateTag
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-050000-put.workspaces.tags-happy-path.json
      x-notes: |
        clockify_tags_update performed a same-value no-op PUT on tag
        id=<redacted-id:0458fb1a5e>. Returned 200 with full tag object.
        changedFields:[] confirms no mutation. Source tags.go:133.
        Full-replacement semantics: Clockify requires name in the body.
        Official spec uses {id} param alias vs our {tagId} -- cosmetic only.
      x-truth-iter: iter21
      parameters:
      - {name: workspaceId, in: path, required: true, schema: {type: string}}
      - {name: tagId, in: path, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: {type: string, maxLength: 150}
                archived: {type: boolean}
      responses:
        '400':
          description: Bad Request
        '200':
          description: Updated tag object
      summary: Update tag
  /workspaces/{workspaceId}/users:
    get:
      summary: List users in workspace
      operationId: getWorkspaceUsers
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.users-tool-limit.json
      - PROBE-LOG/20260521-020846-get.workspaces.users-direct-curl.json
      - PROBE-LOG/20260521T023022Z-codex-users-head-page-size-1.json
      - PROBE-LOG/20260521T023022Z-codex-users-get-page-size-1.json
      x-notes: |
        Promoted from UNRESOLVED-NO-LIVE via direct curl (bypassing MCP 50KB result cap).
        HTTP 200, bare array (both specs agree). page-size=1 returned count=1, so
        pagination IS respected; the per-user response is large (~70KB for one user
        with ~150 project memberships embedded), which is why the MCP tool cap
        rejected it. First user keys observed: id, email, name, memberships,
        profilePicture, activeWorkspace, defaultWorkspace, settings, status,
        customFields.
      x-truth-iter: iter24-post-completion
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of user objects. Per-user payload can be large due to embedded memberships.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: {type: string}
                    email: {type: string}
                    name: {type: string}
                    memberships:
                      type: array
                      items: {type: object}
                    profilePicture: {type: string}
                    activeWorkspace: {type: string}
                    defaultWorkspace: {type: string}
                    settings: {type: object}
                    status: {type: string, enum: [ACTIVE, INACTIVE, PENDING_EMAIL_VERIFICATION, DELETED]}
                    customFields:
                      type: array
                      items: {type: object}
    post:
      operationId: inviteUserToWorkspace
      summary: Invite a user to the workspace by email
      x-verification-status: UNCONFIRMED-AGREE
      x-evidence:
      - PROBE-LOG/20260521-040000-post.workspaces.users-path-existence.json
      - PROBE-LOG/20260521T203428Z-codex-post-workspaces-users-invite-live-probe.json
      - PROBE-LOG/20260521T203625Z-codex-post-workspaces-users-invite-seat-free-live-probe.json
      x-notes: |
        Typed tool: clockify_users_invite (user_admin.go:422) → POST /workspaces/{wId}/users
        with query ?send-email=true/false and body {email}.
        GET /workspaces/{wId}/users returns 200 (confirmed live iter4), confirming path family is live.
        Codex later attempted a disposable send-email=false invite in the sacrificial workspace; live Clockify
        rejected it with a subscription seat-limit error, even after deactivating a non-self test fixture.
        Both specs document this endpoint; no spec discrepancy. Status remains UNCONFIRMED-AGREE because
        no happy-path invite was accepted live.
      x-truth-iter: iter28
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '400':
          description: Bad Request
        '200':
          description: Invited/added user object


  /workspaces/{workspaceId}/entities/created:
    get:
      summary: List entities created in workspace (audit/tracking)
      operationId: getEntitiesCreated
      x-verification-status: LIVE-OVERRIDE
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.entities-created-happy-path.json
      x-reconciled-at: "20260520-212439"
      x-notes: "CRITICAL: required 'type' query param missing from both specs. Server returns 400 without it. page-size ignored
        — all matching records returned. Response extends base entity objects with auditMetadata.{createdAt,updatedAt} and
        documentCode."
      x-live-override-reason: "Both specs omit required 'type' param and its enum. Our spec doesn't document endpoint at all
        with type. Live confirms 400 without type param."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum: [CLIENTS, PROJECTS, SCHEDULED_ASSIGNMENT, TAGS, TASKS, TIME_ENTRY, TIME_ENTRY_CUSTOM_FIELD_VALUE,
              TIME_ENTRY_RATE]
        description: "REQUIRED. Entity type to list. 400 if omitted."
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
        description: "Ignored by server — all matching records returned regardless."
      responses:
        '200':
          description: "Array of entity objects augmented with auditMetadata and documentCode (shape varies by type param)"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: "Base entity object plus extra audit fields"
                  properties:
                    auditMetadata:
                      type: object
                      properties:
                        createdAt:
                          type: string
                          description: ISO 8601 datetime
                        updatedAt:
                          type: string
                          description: ISO 8601 datetime
                    documentCode:
                      type: string
                      description: "Human-readable code (e.g. PRJ-001 for PROJECTS type)"
        '400':
          description: Missing required 'type' parameter

  /workspaces/{workspaceId}/webhooks:
    get:
      summary: List workspace webhooks
      operationId: getWebhooks
      x-verification-status: LIVE-OVERRIDE
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.webhooks-happy-path.json
      x-reconciled-at: "20260520-212439"
      x-notes: "CRITICAL: response is wrapped {webhooks:[], workspaceWebhookCount:N} NOT a bare array. Mirrors addons/{addonId}/webhooks
        pattern. page-size ignored — all webhooks returned."
      x-live-override-reason: "Both specs document as bare array (or don't specify). Live returns wrapped object."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: "Webhooks wrapper object (NOT a bare array)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      type: object
                      properties:
                        deliveryEnabled:
                          type: boolean
                        enabled:
                          type: boolean
                        id:
                          type: string
                        name:
                          type: string
                        planEnabled:
                          type: boolean
                        triggerSource:
                          type: array
                          items:
                            type: string
                        triggerSourceType:
                          type: string
                          enum: [WORKSPACE_ID, USER_ID]
                        url:
                          type: string
                        userId:
                          type: string
                        webhookEvent:
                          type: string
                          description: Event type (e.g. NEW_TIME_ENTRY)
                        workspaceId:
                          type: string
                  workspaceWebhookCount:
                    type: integer
                    description: Total webhook count (pagination appears unsupported)
    post:
      operationId: createWebhook
      summary: Create a webhook subscription
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-040000-post.workspaces.webhooks-dry-run.json
      - PROBE-LOG/20260520-232433-delete.workspaces.webhooks-happy-path.json
      - PROBE-LOG/20260521T200626Z-codex-post-workspaces-webhooks-happy-path.json
      x-notes: |
        Both specs agree on POST /workspaces/{wId}/webhooks. Dry-run confirmed payload shape.
        Codex gap-closure live probe created a disposable webhook with triggerSourceType WORKSPACE_ID,
        received HTTP 201 with a webhook object, queried its logs, then deleted it. Webhook
        name maxLength is 30 (enforced by MCP schema).
      x-truth-iter: iter20
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - url
              - webhookEvent
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 30
                url:
                  type: string
                  description: HTTPS callback URL
                webhookEvent:
                  type: string
                  description: Event type e.g. NEW_TIME_ENTRY
                triggerSourceType:
                  type: string
                  enum: [WORKSPACE_ID, PROJECT_ID, USER_ID, TAG_ID, TASK_ID, ASSIGNMENT_ID, EXPENSE_ID]
                  default: WORKSPACE_ID
                triggerSource:
                  type: array
                  items:
                    type: string
                  description: Trigger source IDs
                authToken:
                  type: string
                  description: Optional HMAC signing secret
      responses:
        '400':
          description: Bad Request
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  url:
                    type: string
                  webhookEvent:
                    type: string
                  triggerSourceType:
                    type: string
                  triggerSource:
                    type: array
                    items:
                      type: string
                  workspaceId:
                    type: string
                  enabled:
                    type: boolean


  /workspaces/{workspaceId}/webhooks/{webhookId}:
    get:
      summary: Get single webhook by ID
      operationId: getWebhook
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-212439-get.workspaces.webhooks-single-item.json
      x-reconciled-at: "20260520-212439"
      x-notes: "Returns plain webhook object (not wrapped). Shape identical to items inside the list's webhooks array."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Webhook object (same shape as items in list response)
          content:
            application/json:
              schema:
                type: object
                properties:
                  deliveryEnabled:
                    type: boolean
                  enabled:
                    type: boolean
                  id:
                    type: string
                  name:
                    type: string
                  planEnabled:
                    type: boolean
                  triggerSource:
                    type: array
                    items:
                      type: string
                  triggerSourceType:
                    type: string
                  url:
                    type: string
                  userId:
                    type: string
                  webhookEvent:
                    type: string
                  workspaceId:
                    type: string

    delete:
      operationId: delete.workspaces.webhooks
      summary: Delete a webhook subscription
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-232433-delete.workspaces.webhooks-happy-path.json
      x-notes: "Created webhook MCP-RECON-232433-wh, deleted it. Response {deleted:true, webhookId:string}. Both specs document
        this."
      x-truth-iter: iter14
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        "200":
          description: Delete a webhook subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  webhookId:
                    type: string
    put:
      operationId: updateWebhook
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-060000-put.workspaces.webhooks-live-verified.json
      x-notes: |
        clockify_webhooks_update performed a same-value no-op PUT on webhook
        id=<redacted-id:508f41ec5c>. HTTP 200 with full webhook object returned.
        Source webhooks.go:759 s.Client.Put. Pre-flight GET merges unchanged
        fields before PUT (full-replacement semantics). dry_run:true probe also
        executed cleanly. The CLAUDE.md note about clockify_webhooks_test having
        no endpoint refers to test-delivery only; PUT update is fully supported.
      x-truth-iter: iter22
      parameters:
      - {name: workspaceId, in: path, required: true, schema: {type: string}}
      - {name: webhookId, in: path, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: {type: string, minLength: 2, maxLength: 30}
                url: {type: string}
                webhookEvent: {type: string}
                triggerSourceType: {type: string, enum: [PROJECT_ID, USER_ID, TAG_ID, TASK_ID, WORKSPACE_ID,
                      ASSIGNMENT_ID, EXPENSE_ID]}
                triggerSource: {type: array, items: {type: string}}
                authToken: {type: string}
      responses:
        '400':
          description: Bad Request
        '200':
          description: Updated webhook object
      summary: Update webhook
  /workspaces/{workspaceId}/time-entries/{timeEntryId}:
    get:
      summary: Get single time entry by ID
      operationId: getTimeEntry
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-214436-get.workspaces.time-entries-happy-path.json
      x-reconciled-at: "20260520-214436"
      x-notes: "Single GET works. timeInterval is object {duration, start, end}. customFieldValues array of bindings. NOTE:
        GET /workspaces/{workspaceId}/time-entries (bare list) returns 405 — listing requires /user/{userId}/time-entries."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: timeEntryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Time entry object
          content:
            application/json:
              schema:
                type: object
                properties:
                  billable:
                    type: boolean
                  costRate:
                    nullable: true
                    type: object
                    properties:
                      amount:
                        type: integer
                        description: Minor units (cents)
                      currency:
                        type: string
                  customFieldValues:
                    type: array
                    items:
                      type: object
                      properties:
                        customFieldId:
                          type: string
                        name:
                          type: string
                        timeEntryId:
                          type: string
                        type:
                          type: string
                          enum: [TXT, NUMBER, DROPDOWN_SINGLE, CHECKBOX]
                        value:
                          nullable: true
                          type: string
                  description:
                    type: string
                  hourlyRate:
                    type: object
                    properties:
                      amount:
                        type: integer
                      currency:
                        type: string
                  id:
                    type: string
                  isLocked:
                    type: boolean
                  kioskId:
                    nullable: true
                    type: string
                  projectId:
                    type: string
                    nullable: true
                  tagIds:
                    nullable: true
                    description: "null when no tags (not empty array)"
                    type: array
                    items:
                      type: string
                  taskId:
                    type: string
                    nullable: true
                  timeInterval:
                    type: object
                    properties:
                      duration:
                        type: string
                        description: ISO 8601 duration
                      end:
                        type: string
                        description: ISO 8601 datetime
                      start:
                        type: string
                        description: ISO 8601 datetime
                  type:
                    type: string
                    enum: [REGULAR, BREAK]
                  userId:
                    type: string
                  workspaceId:
                    type: string

    delete:
      operationId: delete.workspaces.time-entries
      summary: Delete a time entry
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-232433-delete.workspaces.time-entries-happy-path.json
      x-notes: "Created entry MCP-LIVE-RECON-20260520-232433-entry, deleted it. Response {deleted:true, entryId:string}. Note:
        workspace requires project on entries."
      x-truth-iter: iter14
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: timeEntryId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        "200":
          description: Delete a time entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  entryId:
                    type: string
    put:
      operationId: updateTimeEntry
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-060000-put.workspaces.time-entries-official-live-verified.json
      x-notes: |
        Full-replacement PUT for a time entry. Tool does GET-then-PUT merge with
        an ownership guard -- clockify_entries_update is constrained to the
        API-key owner own entries. Official spec uses param name id; ours uses
        timeEntryId -- cosmetic difference, same URL path segment. Live probe:
        entry <redacted-id:1dac181586> updated via MCP tool, HTTP 200, no-op
        same-value update confirms round-trip path is correct.
      x-truth-iter: iter22
      parameters:
      - {name: workspaceId, in: path, required: true, schema: {type: string}}
      - name: timeEntryId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start]
              properties:
                start: {type: string}
                end: {type: string}
                description: {type: string, maxLength: 2000}
                projectId: {type: string, nullable: true}
                taskId: {type: string, nullable: true}
                tagIds: {type: array, nullable: true, items: {type: string}}
                billable: {type: boolean}
                type: {type: string, enum: [REGULAR, BREAK]}
      responses:
        '400':
          description: Bad Request
        '200':
          description: Updated time entry object
      summary: Update time entry
  /workspaces/{workspaceId}/projects/{projectId}/tasks:
    get:
      summary: List tasks in project
      operationId: getProjectTasks
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-214436-get.workspaces.projects.tasks-happy-path.json
      x-reconciled-at: "20260520-214436"
      x-notes: "Bare array. page-size respected. Shape identical between list and single."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of task objects (bare array)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    assigneeId:
                      nullable: true
                      type: string
                    assigneeIds:
                      type: array
                      items:
                        type: string
                    billable:
                      type: boolean
                    budgetEstimate:
                      type: integer
                    costRate:
                      nullable: true
                      type: object
                    duration:
                      type: string
                      description: ISO 8601 accumulated duration
                    estimate:
                      type: string
                      description: ISO 8601 duration estimate
                    hourlyRate:
                      nullable: true
                      type: object
                    id:
                      type: string
                    name:
                      type: string
                    projectId:
                      type: string
                    status:
                      type: string
                      enum: [ACTIVE, DONE]
                    userGroupIds:
                      type: array
                      items:
                        type: string


    post:
      operationId: createTask
      summary: Create a task under a project
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-020000-post.workspaces.projects.tasks-happy-path.json
      x-notes: |
        Returns single task object. Default status=ACTIVE. billable inherits from project.
        estimate is a plain ISO-8601 duration string (not nested object like project estimate).
        No assigneeIds when no assignee given (absent, not null). Task created and deleted.
      x-truth-iter: iter18
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                billable:
                  type: boolean
                estimate:
                  type: string
                  description: ISO-8601 duration string
                assigneeIds:
                  type: array
                  items:
                    type: string
                status:
                  type: string
                  enum: [ACTIVE, DONE]
      responses:
        '400':
          description: Bad Request
        '200':
          description: Created task object
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  projectId:
                    type: string
                  billable:
                    type: boolean
                  estimate:
                    type: string
                    description: ISO-8601 duration string (plain string, not object)
                  status:
                    type: string
                    enum: [ACTIVE, DONE]
  /workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}:
    get:
      summary: Get single task by ID
      operationId: getProjectTask
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-214436-get.workspaces.projects.tasks-single-item.json
      x-reconciled-at: "20260520-214436"
      x-notes: "Shape identical to list items."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        '200':
          description: Task object (same shape as list items)
          content:
            application/json:
              schema:
                type: object
                description: Same shape as items in list response

    delete:
      operationId: delete.workspaces.projects.tasks
      summary: Delete a project task
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-003100-delete.workspaces.projects.tasks-happy-path.json
      x-notes: "Created test task under temp project, deleted it. Response {deleted:true, taskId:string}. Both specs document
        this."
      x-truth-iter: iter13
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad Request
        "200":
          description: Task deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
                  taskId:
                    type: string
    put:
      operationId: updateTask
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260521-050000-put.workspaces.projects.tasks-happy-path.json
      x-notes: |
        Full-replacement PUT for a task. Required body field name. Optional billable,
        status (ACTIVE or DONE), estimate, assigneeId, assigneeIds, userGroupIds,
        budgetEstimate. Tool does GET-then-merge to avoid clearing unspecified fields.
      x-truth-iter: iter21
      parameters:
      - {name: workspaceId, in: path, required: true, schema: {type: string}}
      - {name: projectId, in: path, required: true, schema: {type: string}}
      - {name: taskId, in: path, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: {type: string, maxLength: 150}
                billable: {type: boolean}
                status: {type: string, enum: [ACTIVE, DONE]}
                estimate: {type: string}
                assigneeId: {type: string}
                assigneeIds: {type: array, items: {type: string}}
                userGroupIds: {type: array, items: {type: string}}
                budgetEstimate: {type: integer}
      responses:
        '400':
          description: Bad Request
        '200':
          description: Updated task object

      summary: Update task
  /workspaces/{workspaceId}/user-groups:
    get:
      summary: List user groups in workspace
      operationId: getUserGroups
      x-verification-status: LIVE-VERIFIED
      x-evidence:
      - PROBE-LOG/20260520-214436-get.workspaces.user-groups-happy-path.json
      x-reconciled-at: "20260520-214436"
      x-notes: "Bare array. page-size respected. 5-key shape. NOTE: GET /user-groups/{groupId} returns 405 — single item GET
        not supported."
      parameters:
      - name: workspaceId
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page-size
        in: query
        required: false
        schema:
          type: integer
          default: 50
          maximum: 200
      responses:
        '400':
          description: Bad Request
        '200':
          description: Array of user group objects (bare array)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
[...]
